{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ถนนข้าวสาร</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/ข้าวสาร.png'%}" alt="ถนนข้าวสาร" class="blog1" style="height: 85vh;">
    <div class="text1">
        <h3 style="text-indent: 50px;">ถนนข้าวสาร</h3>
        <p style="text-indent: 50px; margin-top: 10px;">ในช่วงระยะเวลาไม่กี่ 10 ปีที่ผ่านมา ถนนข้าวสารได้กลายเป็นถนนที่นักท่องเที่ยวรู้จักเป็นอย่างดี ย้อนกลับไปในยุคสมัย 60s หรือ 70s นั้น เหล่าฮิปปี้ได้ออกเดินทางไปยังสถานที่ใหม่ๆ ทั่วโลกที่ยังไม่เป็นที่รู้จักในสมัยนั้น และถนนข้าวสารก็เป็นหนึ่งในสถานที่ที่เหล่าฮิปปี้ได้เดินทางมาเยี่ยมเยือนและสำรวจ ในสมัยนั้น ถนนข้าวสารยังเป็นเพียงถนนที่มีแต่ร้านขายข้าวสารจริงๆ ตามชื่อที่ถูกเรียก นอกจากนั้นก็มีเพียงโรงพยาบาลพื้นเมืองที่เปิดให้การรักษากับชามต่างชาติ และเพียงใหม่นาน ชาวยุโรปมากมายก็เริ่มเดินทางมายังถนนข้าวสารมากขึ้นเรื่อยๆ จนมาถึงช่วงปีพ.ศ. 2534 ที่มีภาพยนตร์เรื่อง The Beach ออกฉายก็ส่งผลให้ถนนข้าวสารยิ่งเป็นที่รู้จักโดยชาวต่างชาติทั่วโลกมากขึ้นไปอีก หลังจากนั้นชาวบ้านมากมายจึงได้รวมตัวกันเปิดกิจการต่างๆเพื่อต้อนรับจำนวนของนักท่องเที่ยวที่พากันเดินทางมาที่ถนนข้าวสารอย่างไม่ขาดสาย จนมาถึงปัจจุบัน ถนนข้าวสารได้กลายเป็นแหล่งท่องเที่ยวของของนักเดินทางประเภท backpacker เป็นส่วนใหญ่ และลักษณะที่แตกต่างจากบริเวณอื่นๆ ในกรุงเทพฯ</p>
        <img src="{% static 'myapp/ข้าวสาร1.jpg'%}" alt="Hotel" width="500px" style="position: relative; left: 225px;">
        <p style="text-indent: 50px; margin-top: 10px;">สิ่งที่โดดเด่นที่สุดของถนนข้าวสารที่ดึงดูดนักท่องเที่ยวได้เป็นอย่างดีจากทั่วโลกคงหนีไม่พ้น โรงแรมราคาย่อมเยาว์มากมาย บาร์ที่มีความเป็นมิตรที่พร้อมจะต้อนรับทุกคนเสมอ และร้านค้าขายของมากมายที่เป็นที่ชื่นชอบของชาวต่างชาติ ถึงแม้ว่าชื่อเสียงของถนนข้าวสารจะเปลี่ยนไปเยอะในช่วงหลังๆ แต่ก็ต้องยอมรับว่าถนนข้าวสารยังคงมีเสน่ห์ในแบบที่หาจากที่อื่นไม่ได้ ยกตัวอย่างเช่น การที่ถนนข้าวสารยังคงเป็นศูนย์รวมของผู้คนจากหลากหลายประเทศมากที่สุดแห่งหนึ่งในกรุงเทพฯ ทำให้การไปเที่ยวที่ถนนแห่งนี้นั้นน่าตื่นเต้นเสมอเพราะคุณไม่สามารถเดาได้เลยว่าคุณจะได้พบกับคนแบบไหนบ้าง อีกสิ่งหนึ่งที่ดึงดูดนักท่องเที่ยวได้ไม่น้อยกว่ากันคืออาหารที่มีขายอยู่ที่ถนนข้าวสาร เพราะหลายๆเมนูเป็นอาหารที่หาทานได้ยาก เช่น ข้าวแช่ นอกจากนี้ร้านหนังสือในบริเวณข้าวสารก็น่าสนใจ เพราะมักจะมีหนังสือแปลกๆ ที่หาได้ยากมารวมตัวกันอยู่</p>
        <p style="text-indent: 50px; margin-top: 10px;">ข้อดีอีกอย่างของการมาที่ถนนข้าวสารนี้ก็คือ การที่คุณจะสามารถเดินไปเยี่ยมชมสถานที่ท่องเที่ยวทางประวัติศาสตร์ได้อีกหลายที่ เช่น พระมหาราชวัง และถึงแม้ว่าถนนข้าวสารจะได้ไม่อยู่ใกล้รถไฟฟ้านัก แต่ก็มีที่ตั้งอยู่ใกล้กับแม่น้ำเจ้าพระยา ให้คุณเดินผ่านถนนรามบุตรีไปยังท่าเรือพระอาทิตย์ที่อยู่ติดกับสวนสาธารณะสันติชัยปราการ จากนั้นขึ้นเรือไปยังท่าเรือสาทรเพื่อนั่งรถไฟฟ้าได้</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/ข้าวสาร2.jpg'%}" alt="เยาวราช">
        <p style="margin-top: -35px;text-indent: 50px;">ที่ ถนนข้าวสาร มีที่น่าเที่ยวมากมายไม่รู้เบื่อ นอกจากจะมีบาร์และคลับอยู่มากมายแล้ว ที่นี่ยังมีร้านรวงละลานตา ทั้งร้านอาหารไปถึงร้านขายของจิปาถะ นักท่องเที่ยวที่มาเที่ยวที่ ถนนข้าวสาร ก็มีแทบทุกประเภทเลยทีเดียว ไม่ว่าจะชอบเที่ยวสไตล์ไหนที่นี่ก็ตอบทุกโจทย์</p>
        <p style="margin-top: 10px;text-indent: 50px;">ถนนข้าวสาร นั้นคึกคักตลอดทั้งวันและทั้งคืน โดยเฉพาะช่วงกลางคืนที่ถนนทั้งสายจะปะดับประดาไปด้วยแสงไฟจากป้ายของร้านรวงต่างๆ นอกจากนี้ยังมีเสียงดนตรีจากผับบาร์คอยบรรเลงสร้างสีสันให้ผู้คนที่มาเที่ยวอยู่ตลอด สถานบันเทิงส่วนใหญ่ในถนนข้าวสารก็มีทั้งผับ บาร์ และร้านอาหารทั่วไป แต่ละร้านก็มีสไตล์ที่แตกต่างกันทั้งดนตรี อาหาร และเครื่องดื่ม ลองมาดูกันดีกว่าว่าร้านเด่นๆ ที่ ถนนข้าวสาร มีอะไรน่าสนใจบ้าง</p>
    </div>
    <div class="contact">
        <h3 style="margin-top: 10px;">สถานที่ที่น่าสนใจในถนนข้าวสาร</h3>
        <ul>
            <li>Brick Bar – บาร์ยอดนิยมแห่งหนึ่งของ ถนนข้าวสาร ที่ Brick Bar มีดนตรีสดที่เล่นเพลงได้โดนใจคนฟังสุดๆ จะร้องจะเต้นก็ขอบอกเลยว่าเพลิน โดยแต่ละคืนจะมีวงดนตรีทั้งหมด 3 วงสลับสับเปลี่ยนกันไป ร้านจะปิดช่วงเลยเวลาตีหนึ่งไปแล้ว ตามเวลาที่วงสุดท้ายเล่นเสร็จ นอกจากนี้ที่ Brick Bar ยังสามารถจุคนได้มากกว่า 1,000 คน ไม่ต้องบอกว่าก็รู้ว่าที่ป็อปปูล่ามากแค่ไหน ถ้าวางแผนจะแวะไปบริคบาร์ช่วงสุดสัปดาห์ก็ต้องเตรียมใจรอคิวไว้หน่อยเพราะคนเยอะมากเลยทีเดียว</li>
            <li style="margin-top: 10px;">Superflow City Beach Club – เดินต่อไปอีกหน่อยบน ถนนข้าวสาร ก็จะพบกับไนท์คลับธีมชายหาด ที่นี่มีเครื่องดื่มมากมายให้เพลิดเพลินในบรรยากาศที่เงียบสงบช่วงกลางวัน ส่วนตอนกลางคืนก็มีปาร์ตี้ค็อกเทลมีราคาไม่แพง ภายในร้านมีพื้นที่กว้างขวางให้ความรู้สึกเหมือนได้พักผ่อนบนเกาะเขตร้อนที่มีหาดทราย ต้นปาล์ม เก้าอี้อาบแดด และกระท่อมไม้ไผ่ นอกจากนี้ยังมีบูธดีเจตรงกลางคอยเปิดเพลงเฮาส์ที่ให้ทุกคนเต้นไปด้วย ทุกๆ เดือน Superflow City Beach Club จะจัดงาน “ฟูลมูนปาร์ตี้” สุดพิเศษพร้อมการแสดงไฟ บริการค็อกเทล และการแสดงแสงสีสุดอลังการ</li>
            <li style="margin-top: 10px;">Hippie de Bar – ที่นี่ถือเป็นอีหนึ่ง Hidden Gems ของ ถนนข้าวสาร Hippie de Bar เป็นร้านที่มีกลิ่นอายย้อนยุคสุดเท่ ที่นี่มีที่นั่งทั้งในร่มและกลางแจ้ง นักท่องเที่ยวสามารถเลือกนั่งเก้าอี้สไตล์ย้อนยุคที่นั่งได้อย่างสะดวกสบายที่ล้อมรอบด้วยดอกไม้ ดนตรีของร้านนี้เป็นการผสมผสานระหว่างเร้กเก้และอินดี้ป๊อป แถมยังมีเพลงคลาสสิกในยุค 80 อีกด้วย ที่สำคัญที่ร้านนี้มีค็อกเทลอันเป็นเอกลักษณ์ หรือจะเลือกชิมเบียร์และวิสกี้ที่มีให้เลือกมากมายก็ได้ ใครที่ชอบอาหารที่นี่ก็มีให้บริการเช่นกัน</li>
            <li style="margin-top: 10px;">หัตถกรรมพื้นบ้านที่ร้าน Lofty Bamboo – ถ้าอยากจะเลือกซื้องานหัตถกรรมไทยพื้นเมืองของแท้ที่ได้รับการรับรองจากแฟร์เทรด ก็ขอให้ตรงไปที่ร้าน Lofty Bamboo ได้เลย ร้านนี้ตั้งอยู่ที่ฝั่งตะวันออกของ ถนนข้าวสาร ภายในร้านมีสินค้าสิ่งทอสวยงามและงานศิลปะโดยฝีมือชาวเขา มีทั้งเสื้อผ้า กระเป๋า เครื่องประดับที่มีสีสันและลวดลายที่โดดเด่น ถือเป็นร้านที่น่าสนับสนุนเพราะเจ้าของร้านตั้งใจรักษางานฝีมือไทยดั้งเดิมให้คงอยู่อย่างยาวนาน</li>
            <li style="margin-top: 10px;">D&D Inn Khao San – ที่พักนี้ตั้งอยู่ที่ ถนนข้าวสาร สำหรับใครที่เดินทางกันเป็นกลุ่มเล็กๆ ขอบอกเลยว่าที่นี่เหมาะมาก ภายในที่พักมีห้องพักหลายห้องพร้อมเตียงมากมาย มีทั้งห้องพักเตียงคิงไซส์ เตียงควีนไซส์ ห้องพักสองเตียงเดี่ยว คนที่พักคนเดียวหรือพักเป็นคู่ก็สะดวก นอกจากนี้ภายในที่พักยังมีเครื่องปรับอากาศ บรรยากาศสว่างสดใส ห้องพักมีขนาดพอเหมาะวางสัมภาระได้พอดี ใกล้ๆ ที่พักมีบาร์ ร้านอาหาร ร้านนวด และสระว่ายน้ำกลางแจ้งด้วย เรียกว่าสะดวกสบายสุดๆ แถมยังราคาไม่แรง</li>
        </ul>
    </div>
    <div class="text3">
        <p style="margin-top: 30px;">จริงๆแล้วถนนข้าวสารมีสถานที่ที่น่าสนใจอีกเยอะมากๆ นอกจากที่เที่ยวแล้วเรื่องของสตรีทฟู้ดในประเทศไทยขึ้นชื่อเรื่องความอร่อย ไส้แน่นๆ และราคาไม่แพง ที่ ถนนข้าวสาร และย่านใกล้ๆ ใน กรุงเทพมอย่าง ถนนรามบุตรี และ ถนนพระอาทิตย์ ก็มีสตรีทฟู้ดและของกินรสอร่อยอยู่มากมาย ขอบอกเลยว่าทุกซอกทุกมุมและทุกตรอกซอกซอยมีของอร่อยให้ลองเพียบ สายกินห้ามพลาด ถนนข้าวสาร เด็ดขาดเลยขอบอก</p>
    </div>
    <div class="contact">
        <h3 style="margin-top: 35px;">การเดินทางไปถนนข้าวสาร</h3>
        <ul>
            <li>รถประจำทางสาย S1 – จาก สนามบินสุวรรณภูมิ : หากเดินทางมาจากสนามบินสุวรรณภูมิก็ขึ้นรถบัส S1 ที่ชั้นหนึ่งของอาคารผู้โดยสารได้เลย การเดินทางอาจใช้เวลาประมาณ 1 ชั่วโมงครึ่ง แต่รถจะจอดที่หน้า ถนนข้าวสาร เลย ไม่ต้องต่อรถอีก</li>
            <li style="margin-top: 10px;">รถประจำทางสาย A4 – จาก สนามบินดอนเมือง : ขึ้นรถบัส A4 ได้ที่ชั้น 1 ของอาคารผู้โดยสาร 1 (ทางออก 6) และอาคารผู้โดยสาร 2 (ทางออก 12 และ 14) ใช้เวลาเดินทางไป ถนนข้าวสาร ประมาณ 45 นาที</li>
            <li style="margin-top: 10px;">เรือ – จาก ท่าเรือสาทร : ขึ้นรถไฟฟ้าไปลงที่ สถานีสะพานตากสิน เพื่อขึ้นเรือที่ ท่าเรือสาทร ไปยัง ท่าพระอาทิตย์ เรือจะออกทุกๆ 2-3 นาทีและใช้เวลาเดินทางประมาณ 35 นาที</li>
        </ul>
    </div>
    <div class="text3">
        <p style="margin-top: 30px;">เมื่อเดินทางไปถึง ถนนข้าวสาร ก็เดินเที่ยวไปเรื่อยๆ ได้เลย ร้านรวงและที่เที่ยวต่างๆ นั้นอยู่ไม่ไกล จะเดินไปไหนก็สะดวก</p>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/Brick_Bar.jpg'%}">
          <img src="{% static 'myapp/Brick_Bar.jpg'%}" alt="Brick Bar" width="600" height="400">
        </a>
        <div class="desc">Brick Bar</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/Superflow.jpg'%}">
          <img src="{% static 'myapp/Superflow.jpg'%}" alt="Superflow City Beach Club" width="600" height="400">
        </a>
        <div class="desc">Superflow City Beach Club</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/Hippie_de_Bar.jpg'%}">
          <img src="{% static 'myapp/Hippie_de_Bar.jpg'%}" alt="Hippie de Bar" width="600" height="400">
        </a>
        <div class="desc">Hippie de Bar</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/LoftyBambooShop.jpg'%}">
          <img src="{% static 'myapp/LoftyBambooShop.jpg'%}" alt="Lofty Bamboo Shop" width="600" height="400">
        </a>
        <div class="desc">พิพิธภัณฑ์วัดไตรมิตร ศูนย์ประวัติศาสตร์เยาวราช</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/D&D.jpg'%}">
          <img src="{% static 'myapp/D&D.jpg'%}" alt="D&D Inn Khao San" width="600" height="400">
        </a>
        <div class="desc">ถนนเยาวราชยามค่ำคืน</div>
    </div>
</body>
</html>