{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เอเชียทีค เดอะ ริเวอร์ฟรอนท์</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/เอเชียทีคปก.png'%}" alt="Grand Palace" class="blog1" style="height: 85vh;">
    <div class="back" style="height: 3575px;"></div>

    <div class="text1">
        <p style="margin-top: 3px ;">   เอเชียทีค เดอะ ริเวอร์ฟรอนท์ เป็นโครงการริมแม่น้ำขนาดใหญ่แห่งแรกของกรุงเทพฯ 
            ที่รวมร้านค้า อาหาร สถานที่ท่องเที่ยว กิจกรรมนันทนาการต่างๆ มาไว้ในที่เดียว ภายใต้แนวคิดที่ต้องการทำให้เอเชียทีค เดอะ ริเวอร์ฟรอนท์ 
            โดดเด่นกว่าจากห้างสรรพสินค้าอื่น ๆ แต่ยังคงความสมดุลระหว่างประเพณีดั้งเดิมและความทันสมัย</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/เอเชียทีค1.jpg'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -35px;">  เอเชียทีค เดอะ ริเวอร์ฟรอนท์ เป็นแหล่งท่องเที่ยวริมแม่น้ำที่มีขนาดใหญ่ที่สุดในเอเชีย 
            โดยดัดแปลงจากคลังสินค้าบริเวณท่าเรือริมแม่น้ำเจ้าพระยาให้มีรูปแบบการตกแต่งแบบโคโลเนียลอันเป็นที่นิยมในสมัยรัชกาลที่ 5 
            ภายในโครงการเอเชียทีคแบ่งพื้นที่ออกเป็น 4 ส่วน ได้แก่ ย่านเจริญกรุง (Charoenkrung District) มีร้านค้ากว่า 1,000 ร้าน 
            จำหน่ายสินค้าที่ระลึกและของตกแต่ง, ย่านกลางเมือง (Town Squre District) เน้นการผสมผสานวัฒนธรรมตะวันออกและตะวันตกเข้าด้วยกัน 
            ผ่านกิจกรรมการแสดงต่างๆ เช่น การแสดงหุ่นละครเล็ก โจหลุยส์ และการแสดงคาลิปโซ่, ย่านโรงงาน (Factory District) นำพื้นที่โรงเลื่อยเก่าอายุเก่าแก่กว่า 
            100 ปี มาตกแต่งให้ดูทันสมัยเพื่อให้เป็นร้านจำหน่ายสินค้าแฟชั่น เครื่องแต่งกาย และเครื่องประดับ และสุดท้ายย่านริมน้ำ (Waterfront District) 
            เป็นศูนย์รวมร้านอาหารในบรรยากาศริมแม่น้ำ พร้อมทางเดินเลียบริมแม่น้ำเจ้าพระยาระยะทางกว่า 300 เมตร ทำให้นักท่องเที่ยวสามารถชมวิวได้รอบทิศ
            </p>
    </div>
    <div class="text3">
        <p>จาก รถไฟฟ้า Bts สถานีตากสิน เราสามารถเดินทางไป เอเชียทีค อย่างง่ายๆ ด้วยเรือรับ-ส่งของเอเชียทีคที่จะมาคอยรอรับนักท่องเที่ยวอยู่เป็นรอบๆ 
            เรือค่อยๆ ล่องไปในแม่น้ำ บรรยากาศรอบข้างดีต่อใจมากๆ ครู่เดียวเราก็มาถึงที่ เอเชียทีค เดอะ ริเวอร์ ฟรอนท์</p>

       
    </div>
    <div class="text3">
            <div class="container">
            <img src="{% static 'myapp/เอเชียทีค2.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">การเดินทางทางเรือ</div>
            </div>
        </div> 
        <p>  ร้านรวง บรรยากาศ และสไตล์การตกแต่งของที่นี่รักษากลิ่นอายดั้งเดิมเอาไว้เป็นอย่างดีด้วยโครงสร้างแบบเดิมๆ 
            ของโกดังท่าเรือที่ให้ความรู้สึกของเมืองท่าที่เต็มไปด้วยเอกลักษณ์ และสีสันยามค่ำคืน นั่งรับลมเย็นสักพัก หลับตาลงสักครู่ ปล่อยความกังวลกองเอาไว้ 
            แล้วออกไปเดินช้อปปิ้งกัน!</p>
        <div class="container">
            <img src="{% static 'myapp/เอเชียทีค3.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">พื้นที่นั้ง เดินริมน้ำ</div>
            </div>
        </div> 
    </div>  
    <div class="text3">
        <p>ที่นี่แบ่งออกเป็น 4 ย่านด้วยกันคือ ย่านเจริญกรุง ย่านกลางเมือง ย่านโรงงาน และ ย่านริมน้ำ ซึ่งแต่ละย่านก็จะมีจุดที่เป็นเอกลักษณ์ของย่านนั้นๆ  
            อย่างย่านโรงงานที่สะท้อนวิถีชีวิตของคนทำงานในอดีต สู่การพบปะสังสรรค์ กับร้านค้าแฟชั่นสุดฮิป ในอาคารโรงเลื่อยเก่าอายุกว่า 100 ปี เป็นต้น 
            เรียกได้ว่ามาที่เดียวได้ครบ 4 ฟีลกันเลย </p>
        <p>ในโซนช้อปปิ้งคงถูกอกถูกใจขาช้อปอย่างมาก ด้วยสินค้าหลากหลายทั้ง เสื้อผ้าแฟชั่น ของตกแต่งบ้าน กิ๊ฟช้อป สารพัดที่ยกมาให้ได้เลือกช้อปกัน 
            แต่ถ้าใครแอดว๊านซ์ชอบบรรยากาศดีๆ ริมน้ำ แถมชอบช้อปแบบเพลินๆ ก็มีโซนของโกดัง 7-8 ที่ติดริมน้ำ และเป็นแหล่งของช้อปปิ้งอีกมากมาย 
            ทั้งเสื้อผ้า รองเท้า ของกระจุกกระจิก เดินช้อปได้ชิลๆ กันไปเลย </p>
         <div class="container">
            <img src="{% static 'myapp/เอเชียทีค4.jpg'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ทางเดินไปแต่ละโซน</div>
            </div>
        </div>
    </div> 
    <div class="text3">
        <p>สำหรับโซนของกินเองที่โกดัง 6 นั้นก็เป็นแหล่งรวมร้านอาหารหลากหลายทั้ง ของกินเล่น และกินจริง ไทย จีน ญี่ปุ่น อิตาเลี่ยน ซีฟู้ด 
            มีหมดในย่านกลางเมือง และ ย่านริมน้ำ ที่โดดเด่นด้วยบรรยากาศท่าเรือที่แสนจะโรแมนติก และผ่อนคลาย รับรองความชิลที่หาไม่ได้ง่ายๆ จากที่อื่น</p>
         <p>ชีวิตคนเมืองที่แสนจะวุ่นวาย ถ้าได้หลบหลีกเสียงจ็อกแจ็กจอแจมาผ่อนคลาย นั่งรับลมเย็น เดินช้อป พกกล้องมาถ่ายภาพสวยๆ กันบ้างคงจะดีขึ้นไม่น้อยเลยทีเดียว 
            หวังว่า Asiatique The Riverfront จะเป็นอีกหนึ่งที่หลายคนจะแวะมาทักทายในวันว่าง หรือวันที่อยากพักผ่อนรีแลกซ์กัน</p>
    </div> 

    <div class="contact">
        <h3>ข้อมูล เอเชียทีค เดอะ ริเวอร์ ฟรอนต์ (Asiatique The Riverfront) </h3>
        <ul>
            <li>ที่อยู่ : 2194 ถนนเจริญกรุง แขวงวัดพระยาไกร เขตบางคอแหลม กรุงเทพฯ</li>
            <li>พิกัด : https://goo.gl/maps/FN3kHvNxdTWoGS8y9</li>
            <li>เปิดให้เข้าชม : 11.00-22.00 น.</li>
            <li>ค่าเข้าชม : ไม่มีค่าเข้า</li>
        </ul>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เอเชียทีค5.jpg'%}">
          <img src="{% static 'myapp/เอเชียทีค5.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ลานริมแม่น้ำเจ้าพระยา</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เอเชียทีค6.jpg'%}">
          <img src="{% static 'myapp/เอเชียทีค6.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ลานนั้งหน้าโกดัง8</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เอเชียทีค7.jpg'%}">
          <img src="{% static 'myapp/เอเชียทีค7.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ลานนั้งหน้าโกดัง7</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เอเชียทีค8.jpg'%}">
          <img src="{% static 'myapp/เอเชียทีค8.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">โซนต่างๆ</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เอเชียทีค9.jpg'%}">
          <img src="{% static 'myapp/เอเชียทีค9.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ชิงช้าสวรรค์ชมวิวแม่น้ำเจ้าพระยา</div>
    </div>
</body>