{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>พิพิธภัณฑ์บ้านไทย จิม ทอมป์สัน</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <div class="text1">
        <h3>ประวัติ จิม ทอมป์สัน </h3>
        <p style="margin-top: 3px ;">ก่อนไปเดินเที่ยวพิพิธภัณฑ์กัน เรามารู้จัก จิม ทอมป์สัน กันสักหน่อยค่ะ ชื่อจริงของ จิม ทอมป์สัน ที่คนไทยรู้จักกันเป็นอย่างดีคือ เจมส์ แฮร์ริสัน วิลสัน ทอมป์สัน (James Harrison Wilson Thompson)</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/po1.png'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -35px;">ในช่วงราวๆ ปี ค.ศ.1945 (พ.ศ.2488) เป็นช่วงปลายของสงครามโลกครั้งที่ 2 จิม ทอมป์สัน ได้ผันตัวเองจากงานด้านสถาปัตยกรรมที่นิวยอร์ก มาเป็นทหารอาสาร่วมในสงครามโลกครั้งที่ 2 และได้รับมอบหมายให้ปฏิบัติภารกิจในประเทศไทย
            แต่เป็นช่วงที่สงครามจบลงก่อน ทำให้จิม ทอมป์สันต้องพำนักอยู่ในประเทศไทย ในฐานะหัวหน้าสถานียุทธศาสตร์ในกรุงเทพฯ และมีหน้าที่ฟื้นฟูสถานเอกอัครทูตสหรัฐอเมริกา ในปี ค.ศ.1946 (พ.ศ.2489) จิม ทอมป์สัน ได้ปลดประจำการจากกองทัพ และใช้ชีวิตอยู่ในเมืองไทย ระหว่างนั้นเขาได้เดินทางไปหลายที่ในภาคอีสานเริ่มเก็บสะสมของต่างๆ และมีความสนใจอมากๆ ในอุตสาหกรรมการเลี้ยงไหม และทอผ้าในครัวเรือน ที่มีความแตกต่างจากผ้าไหมที่ผลิตจากเครื่องจักร
            </p>
        <p>จิม ทอมป์สัน จึงได้ผันตัวมาเป็นนักธุรกิจ และได้นำตัวอย่างผ้าไหมแบบดั้งเดิมไปเผยแพร่ในสหรัฐอเมริกา จนได้มีการนำผ้าไหมไทยไปตัดเย็บ ออกแบบเป็นเสื้อผ้าไหมโดยวาเลนทินา (Valentina) นักออกแบบเสื้อผ้าผู้มีชื่อเสียงของนิวยอร์ก และได้ขึ้นในนิตยสาร Vogue ในที่สุด ทำให้ธุรกิจผ้าไหมไทยเริ่มโด่งดังไปทั่วโลก </p>
    </div>
    <div class="text3">
        <h3>ข้อมูลพิพิธภัณฑ์</h3>
        <p>เรือนไทยจิม ทอมป์สัน เป็นบ้านของ เจมส์ เอช. ดับเบิลยู. ทอมป์สัน นักธุรกิจผู้ประกอบการชาวอเมริกัน ผู้ก่อตั้งบริษัทอุตสาหกรรมผ้าไหมไทยจิม ทอมป์สันซึ่งมีชื่อเสียงโด่งดังไปทั่วโลก ปี พ.ศ. 2501 จิม ทอมป์สันเดินทางไปพักผ่อนที่แคมเมอรอนไฮแลนด์ส ประเทศมาเลเซีย เขาออกเดินเท้าเข้าป่าที่ห้อมล้อมอยู่ไปและไม่ได้กลับมาอีกเลย นับเป็นจุดเริ่มต้นของตำนานเรื่องจิม ทอมป์สัน ในปีพ.ศ. 2519 ทรัพย์สินของจิม ทอมป์สันได้รับอนุญาตตามศาลจากรัฐบาลให้ก่อตั้งเป็นมูลนิธิ เจมส์ เอช ดับเบิลยู ทอมป์สัน อย่างถูกต้องตามกฎหมาย มูลนิธิได้รับมอบหมายในการสงวนรักษาศิลปะและมรดกวัฒนธรรมไทย  และยังได้สนับสนุนโครงงานวิจัยสัมมนาและสิ่งต่างๆ มากมายเพื่อผลักดันตามวัตถุประสงค์</p>
        <p>จิตรกรรมในพระวิหารพระพุทธไสยาสมีสรรพวิชาความรู้ดังต่อไปนี้</p>
        <p style="margin-top: -10px;">1. ผนังระหว่างช่องหน้าต่างและประตู ที่เรียกว่า "ห้อง" มี 32 ห้องเขียนภาพเรื่อง เอตทัคคะในพระพุทธศาสนาต่อจากเรื่องที่เขียนในพระอุโบสถตามจารึกที่ติดบอกไว้ (แต่มีหลุดหายไปบ้าง) </p>
        <p style="margin-top: -10px;">2. ผนังเหนือบานประตูและหน้าต่าง เขียนเรื่องมหาวงศ์ พงศาวดารลังกาทวีป คือประวัติราชวงศ์ และพระพุทธศาสนาในลังกา ตั้งแต่ต้นเรื่องกำเนิดพระเจ้าสีหพาหุ จนถึงพระเจ้าอภัยทุฏฐคามินีรบชนะทมิฬได้ครอบกรุงอนุราธปุระ</p>
        <p style="margin-top: -10px;">3. คอสอง เขียนเรื่องสวรรค์ชั้นดาวดึงส์ และการรบระหว่างเทวดาและ อสูร เรียกว่า เทวาสุรสงคราม</p>
        <p style="margin-top: -10px;">4. บานประตู ด้านนอกเขียนลายรดน้ำลายผูกอาวุธ เป็นภาพเครื่องศัตราวุธโบราณ ด้านในสีน้ำมันพื้นสีแดงเป็นรูปพระยานาคราช</p>
        <p style="margin-top: -10px;">5. บานหน้าต่าง ด้านนอกเขียนลายรดน้ำ เป็นภาพเครื่องศัสตราวุธโบราณ ด้านในเขียนภาพสีน้ำมันลายดอกพุดตานก้านแย่ง</p>
        <p style="margin-top: -10px;">6. พื้นที่ส่วนบนและส่วนล่างของบานประตูและบานหน้าต่างด้านนอก เป็นภาพเบ็ดเตล็ต ตอนบนส่วนหนึ่งเป็นภาพตำราดาว คือ กลุ่มดาวนักษัตรประจำเดือนทางสุริยคติ ภาพนิทานชาดกและวรรณคดีไทย เช่นเดียวกับตอนล่าง </p>
    </div>
    <div class="text3">
        <img src="{% static 'myapp/po2.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 450px;">
        <p>พระอุโบสถ ตามคติความเชื่อของพุทธศาสนิกชน เขตวิสุงคามสีมา หรือพระอุโบสถ เป็นพุทธศาสนสถานที่สำคัญที่สุด โดยสร้างสมัยรัชกาลที่ 1 ตามแบบศิลปะอยุธยาตอนปลาย และขยายใหญ่ขึ้นเท่าที่เห็นในสมัยรัชกาลที่ 3 ซุ้มจรณัมประจำประตูหน้าต่างฉลัก (สลัก) ด้วย ไม้แก่น ยอดเป็นทรงมงกุฎลงรักปิดทอง ประดับกระจก บานประตูพระอุโบสถ ด้านนอกลายประดับมุก เป็นลายภาพเรื่อง รามเกียรติ์ ด้านในเขียนลายรดน้ำรูปพัดยศพระราชาคณะ พระครูสัญญาบัตร ฐานานุกรมเปรียญทั้งฝ่ายคามวาสีและอรัญวาสีในกรุงและหัวเมือง
            พระประธาน เป็นพระพุทธรูปปางสมาธิ นามว่า พระพุทธเทวปฏิมากร ที่ฐานชุกชีก่อไว้ 3 ชั้น ชั้นที่ 1 บรรจุพระบรมอัฐิและพระราชสรีรังคารรัชกาลที่ 1 ไว้ ชั้นที่ 2 ประดิษฐานรูปพระอัครสาวกทั้งสององค์ฐานชุกชี ชั้นล่างสุดประดิษฐาน พระมหาสาวก 8 องค์ (พระอรหันต์ 8 ทิศ)
            จิตรกรรมประดับผนังพระอุโบสถเหนือต่างขึ้นไปเขียนเรื่องมโหสถบัณฑิต (มหาบัณฑิตแห่งมิถิลานคร) คอสองในประธานทั้งสองข้างเขียนเรื่องเมืองสวรรค์ชั้นจาตุมหาราช ผนังประตูหน้าต่างเขียนเรื่องพระสาวกเอตทัคคะ 41 องค์บานหน้าต่างด้านในเขียนลายรดน้ำเป็นรูปตราประจำตำแหน่งเจ้าคณะสงฆ์ใน กรุงและหัวเมือง สมัยรัชกาลที่ 3 ด้านนอกแกะสลักเป็นลายแก้วชิงดวง</p>
        <img src="{% static 'myapp/อุโบสถ.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 450px;">
    </div>    
</body>