{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประตูน้ำ</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/ประตูน้ำ.png'%}" alt="ประตูน้ำ" class="blog1" style="height: 85vh;">
    <div class="text1">
        <p style="text-indent: 50px;">ประตูน้ำ เป็นย่านที่พลุกพล่านสร้างความน่าตื่นเต้นโดยเฉพาะกับคนที่รักการช้อปปิ้ง หากต้องการพักในย่านนี้ ควรเลือกที่พักที่สามารถเดินทางไปได้สะดวก หรือมีบริการรับ-ส่งไปและกลับจากสถานที่ท่องเที่ยว ซึ่งตัวเลือกที่พักในย่าน ประตูน้ำ มีมากมายที่สามารถเดินไปช้อปปิ้งได้ และยังสามารถไปเดินเล่นแถวตลาด ห้าง และศาลเจ้าที่คนกรุงเทพชอบไปได้ การช้อปปิ้งที่ ประตูน้ำ เป็นอีกหนึ่งกิจกรรมไฮไลท์ในย่านนี้ นักท่องเที่ยวที่กำลังมองหาประสบการณ์ของความเป็น กรุงเทพ ที่แตกต่างจากย่านอื่น หรือต้องการประหยัดเงินในการซื้อของและที่พัก ควรพิจารณาย่าน ประตูน้ำ เป็นตัวเลือก</p>
        <p style="text-indent: 50px;">ศูนย์การค้าบางแห่งใน ประตูน้ำ เน้นไปที่เสื้อผ้า บางแห่งก็เน้นที่อาหาร และอื่นๆมากมายรวมทั้งบรรดาเครื่องใช้ไฟฟ้าด้วย ลิสต์บรรดาห้าง ตลาด และที่เที่ยวในย่าน ประตูน้ำ ที่ได้รับความนิยมจากนักท่องเที่ยวมากที่สุดอยู่ในนี้แล้ว</p>
    </div>
    <div class="text3" style="position: relative; top: 250px">
        <h3 style="color: #1C3879;">ตลาดประตูน้ำ</h3>
        <p>ตลาดประตูน้ำ เป็นตลาดเสื้อผ้าหลักของ กรุงเทพ และใหญ่เป็นอันดับสามของ ประเทศไทย เหล่านักช้อปเลิฟที่นี่มาก ด้วยราคาที่ค่อนข้างถูกเพราะขายแบบราคาขายส่ง คนที่มีงบในการช้อปปิ้งที่จำกัดไม่ควรพลาดที่นี่</p>
        <div class="contact" style="position: relative; bottom: 20px;">
            <ul>
                <li>ที่อยู่: ถนนเพชรบุรี แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</li>
                <li style="margin-top: 10px;">เวลาเปิด-ปิด: 17:00 น. – 21:00 น..</li>
                <li style="margin-top: 10px;">วิธีการเดินทาง: เดินจาก สถานีราชปรารภ เพียงสี่นาที (400 เมตร)</li>
            </ul>
        </div>
    </div>
    <div class="text3" style="position: relative; top: 250px">
        <h3 style="color: #1C3879;">พันธุ์ทิพย์ประตูน้ำ</h3>
        <p>พันธุ์ทิพย์ประตูน้ำ เป็นศูนย์อุปกรณ์ไฟฟ้าชื่อดังใน กรุงเทพ นักท่องเที่ยวที่ชื่นชอบอุปกรณ์เกดแจ็ตและเครื่องไฟฟ้าต่างๆก็มาเดินซื้อของกันที่นี่ โดยเฉพาะหากมองหาของในราคาไม่สูงนัก มีให้เลือกทั้งชิ้นส่วนคอมพิวเตอร์ กล้องดิจิตอล อุปกรณ์สำหรับโทรศัพท์มือถือ และอื่นๆอีกมากมายโดยมีร้านค้ามากมายให้เดินดูและสอบถามราคาก่อนตัดสินใจซื้อ</p>
        <div class="contact" style="position: relative; bottom: 20px;">
            <ul>
                <li>ที่อยู่: 604/3 ถนนเพชรบุรีแขวงถนนเพชรบุรีเขตราชเทวีกรุงเทพมหานคร 10400</li>
                <li style="margin-top: 10px;">เวลาเปิด-ปิด: 10:00 – 21:00 น.</li>
                <li style="margin-top: 10px;">วิธีการเดินทาง: เดินจาก สถานีราชปรารภ ไปทางทิศตะวันตกเฉียงใต้ประมาณ 11 นาที (1 กิโลเมตร)</li>
            </ul>
        </div>
    </div>
    <div class="text3" style="position: relative; top: 250px">
        <h3 style="color: #1C3879;">ศูนย์การค้าเซ็นทรัลเวิลด์</h3>
        <p>เซ็นทรัลเวิลด์ เป็นห้างสรรพสินค้าที่ใหญ่เป็นอันดับสามในประเทศไทย มีร้านค้ามากกว่า 500 ร้าน และความบันเทิงต่างๆให้เลือกสรร ทั้งร้านแบรนด์หรู แบรนด์แฟชั่นต่างๆ โรงภาพยนตร์ ร้านอาหารและอื่นๆอีกมากมาย ทำให้ เซ็นทรัลเวิลด์ เป็นหนึ่งในห้างที่ดีที่สุดของ กรุงเทพ ภายในยังมีลานน้ำแข็งที่เปิดให้บริการตั้งแต่ 10:30 น. ถึง 21:30น. มีช่วงพักเบรคเพื่อปรับหน้าน้ำแข็งให้เรียบตลอดทั้งวัน ค่าใช้จ่ายต่อคนจะอยู่ที่ 240 บาทต่อชั่วโมง 270 บาทสำหรับชั่วโมงครึ่ง 300 บาทสำหรับ 2 ชั่วโมง และ 800 บาทสำหรับเล่นทั้งวัน มีรองเท้าสเก็ตและหมวกให้บริการโดยไม่ต้องจ่ายเงินเพิ่มอีก</p>
        <div class="contact" style="position: relative; bottom: 20px;">
            <ul>
                <li>ที่อยู่: 999/9 ถนนพระราม 1 แขวงปทุมวัน เขตปทุมวัน กรุงเทพมหานคร 10330</li>
                <li style="margin-top: 10px;">เวลาเปิด-ปิด: 10:00 – 22:00 น.</li>
                <li style="margin-top: 10px;">วิธีการเดินทาง: เดินจาก สถานีรถไฟฟ้าชิดลม หรือสถานีรถไฟฟ้าสยามไปเพียงสี่นาทีเท่านั้น</li>
            </ul>
        </div>
    </div>
    <div class="text3" style="position: relative; top: 250px">
        <h3 style="color: #1C3879;">พิพิธภัณฑ์วังสวนผักกาด</h3>
        <p>วังสวนผักกาด เป็นพิพิธภัณฑ์แห่งหนึ่งใน กรุงเทพ ที่จัดแสดงของเก่าและถ้วมชามจากบ้านเชียงที่มีอายุกว่า 4,000 ปี พิพิธภัณฑ์แห่งนี้เดิมเป็นบ้านของพระองค์เจ้าจุมภฏพงษ์บริพัตรและพระชายา หลังพระองค์เจ้าสิ้นพระชนม์ในปีพ.ศ. 2502 พระชายาได้เปิดบ้านให้เป็นพิพิธภัณฑ์ที่บุคคลทั่วไปสามารถเข้ามาเยี่ยมชมได้ โดยมีค่าเข้าชม 100 บาท ภายในบริเวณพิพิธภัณฑ์ประกอบด้วยตำหนักไทยโบราณที่มีอายุกว่า 450 ปี และห้องศิลป์นิทรรศมารศีจัดแสดงภาพวาดต่างๆ</p>
        <div class="contact" style="position: relative; bottom: 20px;">
            <ul>
                <li>ที่อยู่: 352/354 ถนนศรีอยุธยา แขวงพญาไท เขตราชเทวี กรุงเทพมหานคร 10400</li>
                <li style="margin-top: 10px;">เวลาเปิด-ปิด: 9:00 – 16:00 น.</li>
                <li style="margin-top: 10px;">วิธีการเดินทาง: เดินจาก สถานีรถไฟฟ้าพญาไท ประมาณหกนาที (450 เมตร)</li>
            </ul>
        </div>
    </div>
    <div class="text3" style="position: relative; top: 250px">
        <h3 style="color: #1C3879;">SEA LIFE Bangkok Ocean World</h3>
        <p>SEA LIFE Bangkok Ocean World เป็นอควาเรียมที่ใหญ่ที่สุดในเอเชียตะวันออกเฉียงใต้ จัดแสดงสัตว์น้ำหลากหลายสายพันธุ์ เริ่มต้นการเดินทางด้วยอุโมงค์ของฉลามกว่าสี่สายพันธุ์ หรือความสวยงามของปะการังและสิ่งมีชีวิตเล็กๆที่อาศัยอยู่ตามแนวปะการัง และอื่นๆอีกมากมายที่รออยู่ที่ SEA LIFE Bangkok Ocean Worldค่าเช้าชม 590 บาทต่อคน หรือ 531 บาทเมื่อซื้อออนไลน์ล่วงหน้า นักท่องเที่ยวที่ต้องการประหยัดเงินสามารถซื้อตั๋วของพวกเขาก่อนเวลาออนไลน์ได้ ในขณะที่คนไทยและชาวต่างชาติที่อาศัยอยู่ในพื้นที่มีสิทธิ์ได้รับส่วนลดที่มากขึ้นหากพกบัตรประจำตัวไปด้วย ราคาตั๋วเดี่ยวสำหรับชาวต่างชาติเริ่มต้นที่ 981 บาทออนไลน์ (หน้างาน ผู้ใหญ่ 1,090 บาท) สำหรับผู้ใหญ่และ 801 บาทออนไลน์ (หน้างานเด็ก 890 บาท) สำหรับเด็ก</p>
        <div class="contact" style="position: relative; bottom: 20px;">
            <ul>
                <li>ที่อยู่: อาคารสยามพารากอนชั้น B1- B2 991 ถนนพระราม 1 แขวงปทุมวัน เขตปทุมวัน กรุงเทพมหานคร 10330</li>
                <li style="margin-top: 10px;">เวลาเปิด-ปิด: 10:00 น. – 20:00 น. </li>
                <li style="margin-top: 10px;">วิธีการเดินทาง: เดินจาก สถานีรถไฟฟ้าสยาม เข้าห้างสยามพารากอนและลงบันไดเลื่อนไปเพียง 1 ชั้นถึงเลย</li>
            </ul>
        </div>
    </div>
    <div class="gallery" style="position: relative; top: 50px">
        <a target="_blank" href="{% static 'myapp/ประตูน้ำ1.jpg'%}">
          <img src="{% static 'myapp/ประตูน้ำ1.jpg'%}" alt="ตลาดประตูน้ำ" width="600" height="400">
        </a>
        <div class="desc">ตลาดประตูน้ำ</div>
    </div>
    <div class="gallery" style="position: relative; top: 50px">
        <a target="_blank" href="{% static 'myapp/ประตูน้ำ2.jpg'%}">
          <img src="{% static 'myapp/ประตูน้ำ2.jpg'%}" alt="พันธุ์ทิพย์ประตูน้ำ" width="600" height="400">
        </a>
        <div class="desc">พันธุ์ทิพย์ประตูน้ำ</div>
    </div>
    <div class="gallery" style="position: relative; top: 50px">
        <a target="_blank" href="{% static 'myapp/ประตูน้ำ3.jpg'%}">
          <img src="{% static 'myapp/ประตูน้ำ3.jpg'%}" alt="ศูนย์การค้าเซ็นทรัลเวิลด์" width="600" height="400">
        </a>
        <div class="desc">ศูนย์การค้าเซ็นทรัลเวิลด์</div>
    </div>
    <div class="gallery" style="position: relative; top: 50px">
        <a target="_blank" href="{% static 'myapp/ประตูน้ำ4.jpg'%}">
          <img src="{% static 'myapp/ประตูน้ำ4.jpg'%}" alt="พิพิธภัณฑ์วังสวนผักกาด" width="600" height="400">
        </a>
        <div class="desc">พิพิธภัณฑ์วังสวนผักกาด</div>
    </div>
    <div class="gallery" style="position: relative; top: 50px">
        <a target="_blank" href="{% static 'myapp/ประตูน้ำ5.jpg'%}">
          <img src="{% static 'myapp/ประตูน้ำ5.jpg'%}" alt="SEA LIFE Bangkok Ocean World" width="600" height="400">
        </a>
        <div class="desc">SEA LIFE Bangkok Ocean World</div>
    </div>
</body>
</html>