{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>พิพิธภัณฑ์บ้านไทย จิม ทอมป์สัน</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="home">HOME</a></li>
                <li><a href="cpmixlink">BLOG</a></li>
                <li><a href="review">REVIEW</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/jim-museum-image.png'%}" alt="Grand Palace" class="blog1" style="height: 85vh;">
    <div class="back" style="height: 4700px;"></div>
    <div class="text1">
        <h3>ประวัติ จิม ทอมป์สัน </h3>
        <p style="margin-top: 3px ;">ก่อนไปเดินเที่ยวพิพิธภัณฑ์กัน เรามารู้จัก จิม ทอมป์สัน กันสักหน่อยค่ะ ชื่อจริงของ จิม ทอมป์สัน ที่คนไทยรู้จักกันเป็นอย่างดีคือ เจมส์ แฮร์ริสัน วิลสัน ทอมป์สัน (James Harrison Wilson Thompson)</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/jimบ้าน.png'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -35px;">ในช่วงราวๆ ปี ค.ศ.1945 (พ.ศ.2488) เป็นช่วงปลายของสงครามโลกครั้งที่ 2 จิม ทอมป์สัน ได้ผันตัวเองจากงานด้านสถาปัตยกรรมที่นิวยอร์ก มาเป็นทหารอาสาร่วมในสงครามโลกครั้งที่ 2 และได้รับมอบหมายให้ปฏิบัติภารกิจในประเทศไทย
            แต่เป็นช่วงที่สงครามจบลงก่อน ทำให้จิม ทอมป์สันต้องพำนักอยู่ในประเทศไทย ในฐานะหัวหน้าสถานียุทธศาสตร์ในกรุงเทพฯ และมีหน้าที่ฟื้นฟูสถานเอกอัครทูตสหรัฐอเมริกา ในปี ค.ศ.1946 (พ.ศ.2489) จิม ทอมป์สัน ได้ปลดประจำการจากกองทัพ และใช้ชีวิตอยู่ในเมืองไทย 
            ระหว่างนั้นเขาได้เดินทางไปหลายที่ในภาคอีสานเริ่มเก็บสะสมของต่างๆ และมีความสนใจอมากๆ ในอุตสาหกรรมการเลี้ยงไหม และทอผ้าในครัวเรือน ที่มีความแตกต่างจากผ้าไหมที่ผลิตจากเครื่องจักร
            </p>
        <p>จิม ทอมป์สัน จึงได้ผันตัวมาเป็นนักธุรกิจและได้นำตัวอย่างผ้าไหมแบบดั้งเดิมไปเผยแพร่ในสหรัฐอเมริกา จนได้มีการนำผ้าไหมไทยไปตัดเย็บ ออกแบบเป็นเสื้อผ้าไหมโดยวาเลนทินา (Valentina) นักออกแบบเสื้อผ้าผู้มีชื่อเสียงของนิวยอร์ก 
            และได้ขึ้นในนิตยสาร Vogue ในที่สุด ทำให้ธุรกิจผ้าไหมไทยเริ่มโด่งดังไปทั่วโลก </p>
    </div>
    <div class="text3">
        <h3>ข้อมูลพิพิธภัณฑ์</h3>
        <p>เรือนไทยจิม ทอมป์สัน เป็นบ้านของ เจมส์ เอช. ดับเบิลยู. ทอมป์สัน นักธุรกิจผู้ประกอบการชาวอเมริกัน ผู้ก่อตั้งบริษัทอุตสาหกรรมผ้าไหมไทยจิม ทอมป์สันซึ่งมีชื่อเสียงโด่งดังไปทั่วโลก ปี พ.ศ. 2501 จิม ทอมป์สันเดินทางไปพักผ่อนที่แคมเมอรอนไฮแลนด์ส 
            ประเทศมาเลเซีย เขาออกเดินเท้าเข้าป่าที่ห้อมล้อมอยู่ไปและไม่ได้กลับมาอีกเลย นับเป็นจุดเริ่มต้นของตำนานเรื่องจิม ทอมป์สัน ในปีพ.ศ. 2519 ทรัพย์สินของจิม ทอมป์สันได้รับอนุญาตตามศาลจากรัฐบาลให้ก่อตั้งเป็นมูลนิธิ เจมส์ เอช ดับเบิลยู ทอมป์สัน อย่างถูกต้องตามกฎหมาย 
            มูลนิธิได้รับมอบหมายในการสงวนรักษาศิลปะและมรดกวัฒนธรรมไทย  และยังได้สนับสนุนโครงงานวิจัยสัมมนาและสิ่งต่างๆ มากมายเพื่อผลักดันตามวัตถุประสงค์</p>
        <p>สิ่งที่น่าสนใจในพิพิธภัณฑ์</p>
        <p style="margin-top: -10px;">ภายในระเบียงที่เชื่อมถึงกันในบ้านแต่ละหลังมีหลังคาปิดและประดับตกแต่งด้วยศิลปวัตถุล้ำค่า เช่น ผ้าพระบฏอายุ 200-400 ปีจำนวนกว่า100 ชิ้น ซึ่งเป็นผืนผ้าที่มีการเขียนภาพเรื่องราวเกี่ยวกับ พระพุทธเจ้า พุทธประวัติ 
            หรือทศชาติชาดกหรือข้อคติธรรมคําสอนของพระพุทธเจ้า แต่จิม ทอมป์สันได้เมาท์กรอบเสริมด้วยผ้าไหมเพื่อความแข็งแรงและสวยงาม ซึ่งผ้าพระบฏเป็นของสะสมแรกๆของคุณจิม ทอมป์สัน</p>
       
    </div>
    <div class="text3">
            <div class="container">
            <img src="{% static 'myapp/jimระเบียง.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ระเบียงภายในบ้าน</div>
            </div>
        </div> 
        <p>ไฮไลต์ของงานสะสมอีกอย่างคือเครื่องเบญจรงค์อายุ 200-400 ปี ที่น่าสนใจคือ กาสำหรับใส่ไวน์เขียนลายเทพพนมและนรสิงห์โดยช่างชาวจีนโดยมีที่เติมไวน์อยู่ด้านล่างและเมื่อกลับก้นของกาลงตัวไวน์ไม่ไหลย้อนลง ใช้เก็บไวน์เวลาเดินทางด้วยเรือสำเภาและไวน์จะไม่โดนอากาศทำให้รสชาติไม่เปลี่ยน 
            นอกจากนี้ยังมีเครื่องกระเบื้องลายน้ำทองอย่างวิจิตรและเครื่องกระเบื้องลายครามสมัยต้นรัตนโกสินทร์</p>
        <div class="container">
            <img src="{% static 'myapp/jimเครื่องกระเบื้อง.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">เครื่องกระเบื้อง</div>
            </div>
        </div> 
    </div>  
    <div class="text3">
        <p>อีกทั้งยังมีประติมากรรม พระพุทธรูป มากมาย ทั้งพระพุทธรูปสมัยต่างๆ รวมถึงชิ้นส่วนพระพุทธรูปเก่าแก่ จากหลายประเทศในแถบเอเชียตะวันออกเฉียงใต้ โดยชิ้นสำคัญๆ ได้แก่ อีกทั้งยังมีประติมากรรม พระพุทธรูป มากมาย ทั้งพระพุทธรูปสมัยต่างๆ 
            รวมถึงชิ้นส่วนพระพุทธรูปเก่าแก่ จากหลายประเทศในแถบเอเชียตะวันออกเฉียงใต้ โดยชิ้นสำคัญๆ เช่น พระวรกายของพระพุทธรูปปูนปั้นสมัยทวาราวดี ตั้งแสดงไว้ในพื้นที่โล่ง ใต้ถุน บ้านส่วนที่เป็นห้องอาหาร พระพุทธรูปนี้มีอายุตั้งแต่สมัยคริสต์ศตวรรษที่ 7 หรือ 8 พบอยู่ที่จังหวัดลพบุรีในภาคกลางของประเทศไทย </p>
         <div class="container">
            <img src="{% static 'myapp/jimพระ.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ตัวอย่างงานประติมากรรม</div>
            </div>
        </div>
    </div> 
    <div class="text3">
        <p>ร้านอาหาร Jim Thompson A Thai Restaurant </p>
        <p>ในส่วนของร้านอาหาร ได้นำข้าวแช่ เมนูฮิตและขายดีในช่วงหน้าร้อนกลับมาเป็นเมนูไฮไลต์ที่ให้บริการเฉพาะในช่วงวันศุกร์ เสาร์ และอาทิตย์ ในราคาชุดละ 590 บาท (ไม่รวมภาษีและค่าบริการ) สำหรับรับประทานที่ร้านและราคาชุดละ 1,350
             บาทสำหรับกิฟท์เซ็ตบรรจุในปิ่นโตห่อด้วยผ้าไหมลายเอกลักษณ์ของแบรนด์จิม ทอมป์สัน แนะนำให้จองล่วงหน้าเพราะมีจำนวนจำกัดในแต่ละวัน </p>
         <div class="container">
            <img src="{% static 'myapp/jimร้านอาหาร1.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ร้านอาหาร Jim Thompson</div>
            </div>
        </div>
       
    </div> 
    <div class="text3">
        <p>ร้านผ้าไหม Jim Thompson </p>
        <p>jim Thompson (จิม ทอมป์สัน) แบรนด์ไอคอนิกไลฟ์สไตล์ระดับโลกของไทย เผยโฉมใหม่ของ Iconic Store (ไอคอนิกสโตร์) แฟล็กชิปสโตร์ของแบรนด์ในพื้นที่อันกว้างขวางของ Jim Thompson Heritage Quarter </p>
        <p>Jim Thompson Heritage Quarter ถือเป็นที่สุดแห่งเดสติเนชันที่พร้อมเติมเต็มไลฟ์สไตล์ทุกรูปแบบสำหรับทุกคน ไม่ว่าจะเป็นผู้ที่อยากดื่มด่ำกับความงามของผ้าไหมคุณภาพเลื่องชื่อที่มีให้เลือกสรรมากมายหลายสไตล์ หรือคนที่มองหาสินค้าไลฟ์สไตล์ เครื่องแต่งกายสำหรับการใช้ชีวิตในยุคใหม่
             พร้อมแวะทานอาหารที่ร้านสุดชิค และสัมผัสศิลปวัฒนธรรมอันทรงคุณค่า เรียกได้ว่าเป็นการพักผ่อนหย่อนใจที่ครบจบในที่เดียวอย่างแท้จริง </p>

        <div class="container">
            <img src="{% static 'myapp/jimผ้า.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ร้านผ้าไหม Jim Thompson</div>
            </div>
        </div>
       
    </div>
    <div class="contact">
        <h3>ข้อมูล พิพิธภัณฑ์บ้านไทย จิม ทอมป์สัน</h3>
        <ul>
            <li>ที่อยู่ : ซอยเกษมสันต์ 2 ถนนพระราม 1 เขตปทุมวัน กรุงเทพฯ</li>
            <li>พิกัด : https://goo.gl/maps/AQFZhp2tUL8NLass7</li>
            <li>เปิดให้เข้าชม : 11.00-18.00 น.</li>
            <li>ค่าเข้าชม : ผู้ใหญ่ 200 บาท เด็ก (อายุต่ำกว่า 22 ปี) 100 บาท เด็กอายุต่ำกว่า 10 ปี เข้าฟรี</li>
        </ul>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/jimระเบียง2.png'%}">
          <img src="{% static 'myapp/jimระเบียง2.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ระเบียงที่เชื่อมถึงกันในบ้าน</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/jimกระเบื้อง2.png'%}">
          <img src="{% static 'myapp/jimกระเบื้อง2.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">เครื่องเบญจรงค์</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/jimงานปั้น.png'%}">
          <img src="{% static 'myapp/jimงานปั้น.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">งานประติมากรรม</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/jimร้านอาหาร2.png'%}">
          <img src="{% static 'myapp/jimร้านอาหาร2.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ร้านอาหาร</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/jimร้านผ้า.png'%}">
          <img src="{% static 'myapp/jimร้านผ้า.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ร้านผ้าไหม</div>
    </div>
</body>