{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตลาดนัดจตุจักร</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="home">HOME</a></li>
                <li><a href="cpmixlink">BLOG</a></li>
                <li><a href="review">REVIEW</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/จตุจักร.png'%}" alt="ตลาดนัดจตุจักร" class="blog1" style="height: 85vh;">
    <div class="text1">
        <p style="text-indent: 50px;">ตลาดนัดจตุจักร เป็นตลาดนัดในกรุงเทพมหานครที่ได้รับความนิยมจากคนไทยและชาวต่างชาติ มีจำนวนแผงค้าทั้งหมดมากกว่า 8,000 แผงค้า แบ่งเป็น 27 โครงการ มีสินค้า 8 ประเภท ได้แก่ ผักและผลไม้ เสื้อผ้า สัตว์เลี้ยง ต้นไม้ อาหารปรุง อาหารสำเร็จรูป อาหารสด และเบ็ดเตล็ด</p>
        <p style="text-indent: 50px;">ตลาดนัดจตุจักรถูกสร้างขึ้นโดย พลเอก เกรียงศักดิ์ ชมะนันท์ ในสมัยปี พ.ศ. 2521 เป็นที่ดินของการรถไฟแห่งประเทศไทยซึ่งในขณะนั้น พลเอกเกรียงศักดิ์ ชมะนันท์ เป็นประธานกรรมการรถไฟ โดยการเอากองขยะที่ดินแดง มาถม ที่ของการรถไฟแห่งประเทศไทย แล้วย้ายตลาดนัดสนามหลวงมาที่นี่ โดยใช้ทหารช่างมาทำการสร้างขึ้น</p>
    </div>
    <img src="{% static 'myapp/จตุจักร1.jpg'%}" alt="เยาวราช" style="width: 350px; height: 250px; object-fit: fill;margin: 20px;position: relative;left: 300px;">
    <div class="text2" style="position: relative; top: 10px;">
        <p>ตลาดนัดจตุจักรเปรียบเสมือนขุมทรัพย์ของนักเหล่าช็อป และนักท่องเที่ยวต่างชาติทุกเพศทุกวัย เนื่องจากมีสินค้าหลากหลาย ไม่ว่าจะเป็นของกิน เสื้อผ้า รองเท้า เครื่องประดับ ตลอดจนต้นไม้และของตกแต่งบ้าน ที่มีราคาเป็นมิตรและดีต่อใจ ซึ่งแม้ว่าในช่วงการแพร่ระบาดของโควิด-19 ที่ผ่านมาทำให้เศรษฐกิจซบเซา แต่ในปัจจุบันตลาดนัดจตุจักรได้กลับมามีชีวิตชีวา และรอให้เหล่านักช็อปมาเยือนอีกครั้ง</p>
        <p>เป็นตลาดนัดที่ตั้งอยู่ในเขตจตุจักร กรุงเทพมหานคร แบ่งเป็น 27 โครงการ เป็นสินค้าประเภทเสื้อผ้าและสินค้าแฟชั่น ตลาดนัดต้นไม้ และตลาดปลา หรือถ้าใครสนใจอยากไปเดินซื้อของสำหรับแต่งบ้านที่จตุจักร พูดได้เลยว่าที่นี่สามารถไปเดินได้ตั้งแต่เช้ายันมืดกันเลยทีเดียว เผื่อถ้าใครยังไม่รู้ว่าเวลาเปิดของแต่ละโซนมีอะไรบ้างเลื่อนลงไปส่องกันต่อเลยดีกว่า</p>
    </div>
    <div class="text3">
        <div class="contact" style="position: relative; bottom: 20px;">
            <ul>
                <li><span style="color: #1C3879;">โครงการที่ 1 และ 29 </span>ขายสินค้าจำพวกของเก่า ของสะสมหายาก งานศิลปะ หนังสือ ตลอดจนสินค้าหัตถกรรม เช่น ไม้แกะสลัก เครื่องจักสาน ภาชนะต่างๆ</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 2</span> ขายสินค้าหัตถกรรม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 3</span> ขายต้นไม้หลากหลายพันธุ์ อุปกรณ์ทำสวน เฟอร์นิเจอร์ ของตกแต่งบ้าน อาหารเครื่องดื่ม ตลอดจนเครื่องประดับและเสื้อผ้า</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 4</span> ขายต้นไม้ อุปกรณ์ทำสวน เฟอร์นิเจอร์ ของตกแต่งบ้าน อาหาร และเครื่องดื่ม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 5 และ 6</span> เน้นเสื้อผ้ามือสองตั้งแต่เสื้อยืด กางเกง รองเท้า ตลอดจนเสื้อผ้าแบรนด์เนม และสินค้าทั่วๆ ไป</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 7</span> งานศิลปะและภาพวาด</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 8</span> สินค้าหัตถกรรม สัตว์เลี้ยง อุปกรณ์สำหรับสัตว์เลี้ยง รวมถึงเฟอร์นิเจอร์ ตลอดจนของตกแต่งบ้าน</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 9 และ 11</span> สินค้าหัตถกรรม สัตว์เลี้ยง และอุปกรณ์สำหรับสัตว์เลี้ยง</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 10</span> ขายอาหารและเครื่องดื่มสินค้าหัตถกรรม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 12, 14, 16, 18, 21, 22 และ 23</span> ขายเสื้อผ้าและเครื่องประดับ</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 13</span> ขายสินค้าหัตถกรรมสัตว์เลี้ยงและอุปกรณ์สำหรับสัตว์เลี้ยง เครื่องปั้นดินเผาและเซรามิก</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 15, 17 และ 19</span> สินค้าหัตถกรรม เครื่องปั้นดินเผาและเซรามิก</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 20 </span>ขายเสื้อผ้า เครื่องประดับ สินค้าหัตถกรรม ตลอดจนเครื่องปั้นดินเผาและเซรามิก</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 24</span> ขายสินค้าหัตถกรรม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 25</span> ขายสินค้าหัตถกรรม เครื่องปั้นดินเผา เซรามิก และผ้าไหม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 26 </span>ขายอาหาร เครื่องดื่มของเก่า และของสะสม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 27 </span>และ 28 ขายเสื้อผ้าและเครื่องประดับ หนังสือ และอาหารและเครื่องดื่ม</li>
                <li style="margin-top: 10px;"><span style="color: #1C3879;">โครงการที่ 30 </span>ขายเสื้อผ้าและสินค้าทั่วๆ ไป</li>
            </ul>
        </div>
    </div>
    <div class="text3">
        <h3 style="color: #1C3879;margin-top: 20px;">ตลาดนัดจตุจักรกับของกินร้านอร่อยที่ไม่ควรพลาด</h3>
        <h4>- Viva 8</h4>
        <p>ใครที่มาตลาดนัดจตุจักร แล้วไม่เคยสั่งของกินหรือไม่เคยเดินผ่านร้านนี้อาจจะเรียกได้ว่ามาไม่ถึง เนื่องจากเป็นร้านที่ขายอาหารหลากหลายชนิด อยู่คู่กับตลาดนัดจตุจักรมานาน และได้รับความนิยมสูง เนื่องจากมีลูกค้าทั้งไทยและเทศต่อคิวเข้าร้านกันอย่างหนาแน่น</p>
        <p>พิกัด : โครงการ 8</p>
        <h4>- Hakuna Matata Restaurant&Cafe</h4>
        <p>ใครที่กำลังมองหาร้านอาหารกึ่งๆ คาเฟ่ สำหรับนั่งพักหรือแวะเติมพลังก่อนเดินช็อปต่อ อาจจะลองแวะร้านนี้ เพราะที่นี่มีทั้งอาหารไทยและอาหารยุโรปหน้าตาน่ากินให้เลือกสั่งและลองชิมกันได้</p>
        <p>พิกัด : โครงการ 6</p>
        <h4>- JJ YUM by ยำยั่วยั่ว ภูเก็ต</h4>
        <p>สำหรับตลาดนัดจตุจักร ของกินที่เป็นอาหารไทยและรสชาติจัดจ้านต้องยกให้ร้าน JJ YUM by ยำยั่วยั่ว ภูเก็ต ขนสารพัดเมนูยำ ของกินเล่น และเครื่องดื่มหลายๆ ชนิดมาเสิร์ฟความแซ่บให้ถึงที่</p>
        <p>พิกัด : โครงการ 14</p>
        <h4>- Cocojj ไอศกรีมบ้านแพ้ว</h4>
        <p>ร้านไอศกรีมชื่อดังจากบ้านแพ้ว มีแฟรนไชส์หลายสาขา โดยหนึ่งในสาขาที่ได้รับความนิยมอยู่ที่ตลาดนัดจตุจักร ด้วยรสชาติหวานละมุน กลิ่นหอม จึงเป็นไอศกรีมที่ถูกปากคนไทยและถูกใจคนต่างชาติได้ง่ายๆ</p>
        <p>พิกัด : MRT สถานีกำแพงเพชร ทางออก 2</p>
        <h4>- ก๋วยเตี๋ยวพี่ต่าย</h4>
        <p>เป็นร้านก๋วยเตี๋ยวริมข้างทางที่รสชาติไม่ธรรมดา ที่นี่มีเมนูเด็ดหลากหลาย สามารถเลือกสั่งเส้นหรือเครื่องได้ตามใจชอบ อีกทั้งราคาก็ย่อมเยา คุ้มค่า ทำให้หลายๆ คนต่างยกให้เป็นร้านโปรด</p>
        <p>พิกัด : โครงการ 26</p>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/viva8.jpg'%}">
          <img src="{% static 'myapp/viva8.jpg'%}" alt="Viva 8" width="600" height="400">
        </a>
        <div class="desc">Viva 8</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/Hakuna.jpg'%}">
          <img src="{% static 'myapp/Hakuna.jpg'%}" alt="Hakuna Matata Restaurant&Cafe" width="600" height="400">
        </a>
        <div class="desc">Hakuna Matata Restaurant&Cafe</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/jj.webp'%}">
          <img src="{% static 'myapp/jj.webp'%}" alt="JJ YUM by ยำยั่วยั่ว ภูเก็ต" width="600" height="400">
        </a>
        <div class="desc">JJ YUM by ยำยั่วยั่ว ภูเก็ต</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/cocojj.jpg'%}">
          <img src="{% static 'myapp/cocojj.jpg'%}" alt="Cocojj ไอศกรีมบ้านแพ้ว" width="600" height="400">
        </a>
        <div class="desc">Cocojj ไอศกรีมบ้านแพ้ว</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ก๋วยเตี๋ยว.jpg'%}">
          <img src="{% static 'myapp/ก๋วยเตี๋ยว.jpg'%}" alt="ก๋วยเตี๋ยวพี่ต่าย" width="600" height="400">
        </a>
        <div class="desc">ก๋วยเตี๋ยวพี่ต่าย</div>
    </div>
</body>
</html>