{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/Watpho.png'%}" alt="Grand Palace" class="blog1" style="height: 85vh;">
    <div class="back" style="height: 5600px;"></div>
    <div class="text1">
        <h3>ประวัติวัดโพธิ์</h3>
        <p style="margin-top: 3px ;">วัดโพธิ์ หรือ วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร เป็นพระอารามหลวงชั้นเอก และเป็นวัดประจำรัชกาลที่ 1
            พระอารามหลวงแห่งนี้ มีเนื้อที่ 51 ไร่ 2 งาน 98 ตารางวาอยู่ด้านทิศใต้ของพระบรมมหาราชวัง ทิศเหนือจดถนนท้ายวัง ทิศตะวันออกจดถนนสนามไชย ทิศใต้จดถนนเศรษฐการ ทิศตะวันตกจดถนนมหาราช มีถนนเชตุพนขนาบด้วยกำแพงสูงสีขาวแบ่งเขตพุทธาวาสและสังฆาวาสชัดเจนมีหลักฐานปรากฏในศิลาจารึกไว้ว่า หลังจากที่พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช ทรงสถาปนาพระบรมมหาราชวังแล้วทรงพระราชดำริว่า มีวัดเก่าขนาบพระบรมมหาราชวัง 2 วัด ด้านเหนือ คือวัดสลัก (วัดมหาธาตุ) ด้านใต้ คือ วัดโพธาราม จึงทรงพระกรุณาโปรดเกล้าฯ ให้ขุนนางเจ้าทรงกรม ช่างสิบหมู่อำนวยการบูรณปฏิสังขรณ์ เริ่มเมื่อพ.ศ. 2331 เสด็จวัดโพธาราม มีสภาพทรุดโทรม ต่อมาจึงโปรดเกล้าฯ ให้สถาปนาพระอุโบสถอันดับแรก ใช้เวลา 7 ปี 5 เดือน 28 วัน จึงแล้วเสร็จ และโปรดเกล้าฯ ให้มีการฉลองเมื่อ พ.ศ. 2344 พระราชทานนามใหม่ว่า“วัดพระเชตุพนวิมลมังคลาวาศ” ต่อมารัชกาลที่ 4 ได้โปรดเกล้าฯ ให้เปลี่ยน ท้ายนามวัดเป็น “วัดพระเชตุพนวิมลมังคลาราม”</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/po1.png'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -35px;">เกร็ดประวัติศาสตร์ของการสถาปนาและการบูรณปฏิสังขรณ์วัดโพธิ์แห่งนี้ บันทึกไว้ว่า รัชกาลที่ 1 และที่ 3 ขุนนางเจ้าทรงกรม ช่างสิบหมู่ได้ระดมช่างในราชสำนัก ช่างวังหลวง ช่างวังหน้า และช่างพระสงฆ์ที่อยู่ในวัดต่างๆ ผู้เชี่ยวชาญงานศิลปกรรมสาขาต่างๆ ได้ทุ่มเทผลงานสร้างสรรค์พุทธสถานและสรรพสิ่งที่ประดับอยู่ในพระอารามหลวงด้วยพลังศรัทธาตาม</p>
        <p>พระราชประสงค์ของพระองค์ท่านที่ให้เป็นแหล่งรวมสรรพศิลป์ สรรพศาสตร์เปรียบเป็นมหาวิทยาลัยแห่งสรรพวิชาไทย (มหาวิทยาลัยเปิดแห่งแรก) ที่รวมเอาภูมิปัญญาไทยไว้เป็นมรดกให้ลูกหลานไทยได้เรียนรู้กันอย่างไม่รู้จบสิ้น จักรพันธุ์ โปษยกฤต จิตรกรชื่อดังของไทย กล่าวไว้ในหนังสือ “โบสถ์วัดโพธิ์” เมื่อ 10 ตุลาคม 2542 ว่า “ศิลปศาสตร์ในวัดโพธิ์ จึงเสมือนโอฆะแห่งวิชา ที่สามารถตักตวงได้ยังประโยชน์แก่กุลบุตรกุลธิดาให้อุดมสมบูรณ์อลังการด้วยปัญญาอยู่มิรู้เหือดแห้ง”</p>
    </div>
    <div class="text3">
        <h3>สถาปัตย์ที่สำคัญ</h3>
        <p>พระวิหารพระพุทธไสยาส หรือวิหารพระนอนตั้งอยู่ทางทิศตะวันตกเฉียงเหนือในเขตพุทธาวาส วัดพระเชตุพนวิมลมังคลาราม พระบาทสมเด็จพระนั่งเกล้าเจ้าอยู่หัวโปรดให้สร้างพระพุทธไสยาส ขึ้นคราวบูรณปฏิสังขรณ์วัดพระเชตุพนครั้งใหญ่เมื่อ พ.ศ.๒๓๗๕ นอกจากพระวิหารจะเป็นที่ประดิษฐานพระพุทธไสยาสแล้ว ยังมีจิตรกรรมฝาผนังที่บันทึกสรรพวิชารายล้อมรอบตัวพระวิหารตามแบบไทยประเพณี</p>
        <p>จิตรกรรมในพระวิหารพระพุทธไสยาสมีสรรพวิชาความรู้ดังต่อไปนี้</p>
        <p style="margin-top: -10px;">1. ผนังระหว่างช่องหน้าต่างและประตู ที่เรียกว่า "ห้อง" มี 32 ห้องเขียนภาพเรื่อง เอตทัคคะในพระพุทธศาสนาต่อจากเรื่องที่เขียนในพระอุโบสถตามจารึกที่ติดบอกไว้ (แต่มีหลุดหายไปบ้าง) </p>
        <p style="margin-top: -10px;">2. ผนังเหนือบานประตูและหน้าต่าง เขียนเรื่องมหาวงศ์ พงศาวดารลังกาทวีป คือประวัติราชวงศ์ และพระพุทธศาสนาในลังกา ตั้งแต่ต้นเรื่องกำเนิดพระเจ้าสีหพาหุ จนถึงพระเจ้าอภัยทุฏฐคามินีรบชนะทมิฬได้ครอบกรุงอนุราธปุระ</p>
        <p style="margin-top: -10px;">3. คอสอง เขียนเรื่องสวรรค์ชั้นดาวดึงส์ และการรบระหว่างเทวดาและ อสูร เรียกว่า เทวาสุรสงคราม</p>
        <p style="margin-top: -10px;">4. บานประตู ด้านนอกเขียนลายรดน้ำลายผูกอาวุธ เป็นภาพเครื่องศัตราวุธโบราณ ด้านในสีน้ำมันพื้นสีแดงเป็นรูปพระยานาคราช</p>
        <p style="margin-top: -10px;">5. บานหน้าต่าง ด้านนอกเขียนลายรดน้ำ เป็นภาพเครื่องศัสตราวุธโบราณ ด้านในเขียนภาพสีน้ำมันลายดอกพุดตานก้านแย่ง</p>
        <p style="margin-top: -10px;">6. พื้นที่ส่วนบนและส่วนล่างของบานประตูและบานหน้าต่างด้านนอก เป็นภาพเบ็ดเตล็ต ตอนบนส่วนหนึ่งเป็นภาพตำราดาว คือ กลุ่มดาวนักษัตรประจำเดือนทางสุริยคติ ภาพนิทานชาดกและวรรณคดีไทย เช่นเดียวกับตอนล่าง </p>
    </div>
    <div class="text3">
        <div class="container">
            <img src="{% static 'myapp/po2.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">พระวิหารพระพุทธไสยาส หรือวิหารพระนอนตั้งอยู่ทางทิศตะวันตกเฉียงเหนือในเขตพุทธาวาส</div>
            </div>
        </div>
        <p>พระอุโบสถ ตามคติความเชื่อของพุทธศาสนิกชน เขตวิสุงคามสีมา หรือพระอุโบสถ เป็นพุทธศาสนสถานที่สำคัญที่สุด โดยสร้างสมัยรัชกาลที่ 1 ตามแบบศิลปะอยุธยาตอนปลาย และขยายใหญ่ขึ้นเท่าที่เห็นในสมัยรัชกาลที่ 3 ซุ้มจรณัมประจำประตูหน้าต่างฉลัก (สลัก) ด้วย ไม้แก่น ยอดเป็นทรงมงกุฎลงรักปิดทอง ประดับกระจก บานประตูพระอุโบสถ ด้านนอกลายประดับมุก เป็นลายภาพเรื่อง รามเกียรติ์ ด้านในเขียนลายรดน้ำรูปพัดยศพระราชาคณะ พระครูสัญญาบัตร ฐานานุกรมเปรียญทั้งฝ่ายคามวาสีและอรัญวาสีในกรุงและหัวเมือง
            พระประธาน เป็นพระพุทธรูปปางสมาธิ นามว่า พระพุทธเทวปฏิมากร ที่ฐานชุกชีก่อไว้ 3 ชั้น ชั้นที่ 1 บรรจุพระบรมอัฐิและพระราชสรีรังคารรัชกาลที่ 1 ไว้ ชั้นที่ 2 ประดิษฐานรูปพระอัครสาวกทั้งสององค์ฐานชุกชี ชั้นล่างสุดประดิษฐาน พระมหาสาวก 8 องค์ (พระอรหันต์ 8 ทิศ)
            จิตรกรรมประดับผนังพระอุโบสถเหนือต่างขึ้นไปเขียนเรื่องมโหสถบัณฑิต (มหาบัณฑิตแห่งมิถิลานคร) คอสองในประธานทั้งสองข้างเขียนเรื่องเมืองสวรรค์ชั้นจาตุมหาราช ผนังประตูหน้าต่างเขียนเรื่องพระสาวกเอตทัคคะ 41 องค์บานหน้าต่างด้านในเขียนลายรดน้ำเป็นรูปตราประจำตำแหน่งเจ้าคณะสงฆ์ใน กรุงและหัวเมือง สมัยรัชกาลที่ 3 ด้านนอกแกะสลักเป็นลายแก้วชิงดวง</p>
        <div class="container">
            <img src="{% static 'myapp/อุโบสถ.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">พระอุโบสถ ตามคติความเชื่อของพุทธศาสนิกชน เขตวิสุงคามสีมา</div>
            </div>
        </div>
    </div>
    <div class="text3">
        <p>พระมหาเจดีย์ทั้งสี่องค์อยู่ในบริเวณกำแพงสีขาว ซุ้มประตูทางเข้าเป็นสถาปัตยกรรมไทยประยุกต์แบบจีน ประดับด้วยกระเบื้องเคลือบ เครื่องถ้วยหลากสี มีตุ๊กตาหินจีนประตูละคู่ พระมหาเจดีย์แต่ละองค์เป็นเจดีย์ย่อไม้สิบสองเพิ่มมุมสูง 42 เมตร ประดับกระเบื้องเคลือบและกระเบื้องเครื่องถ้วยลวดลายต่างๆ สังเกตได้ง่าย</p>
        <p>พระมหาเจดีย์องค์ประกอบด้วยกระเบื้องเคลือบสีเขียว นามว่า พระมหาเจดีย์ศรีสรรเพชดาญาณ สร้างในสมัยรัชกาลที่ 1 เพื่อครอบพระศรีสรรเพชญ์ ซึ่งเป็นพระพุทธรูปยืนองค์ใหญ่สูง 16 เมตร ได้ชะลอมาจากพระราชวังที่กรุงศรีอยุธยา ภายในบรรจุพระบรมธาตุ นับเป็นพระมหาเจดีย์ประจำรัชกาลที่ 1</p>
        <p>พระมหาเจดีย์องค์ที่ประดับด้วยกระเบื้องเคลือบสีขาว นามว่า พระมหาเจดีย์ดิลกธรรมกรกนิทาน สร้างในสมัยรัชกาลที่ 3 ทรงพระราชอุทิศถวายแด่พระบรมราชชนก คือรัชกาลที่ 2 นับเป็นพระมหารัชกาลที่ 2</p>
        <p>พระมหาเจดีย์องค์ที่ประดับด้วยกระเบื้องเคลือบสีเหลือง นามว่า พระมหาเจดีย์มุนีบัตบริขาร สร้างในสมัยรัชกาลที่ 3 ทรงพระราชถวายอุทิศถวายเป็นพุทธบูชา นับเป็นพระมหาเจดีย์ประจำพระองค์</p>
        <p>พระมหาเจดีย์องค์ที่ประดับด้วยกระเบื้องเคลือบสีน้ำเงินเข้ม เป็นพระมหาเจดีย์ที่รัชกาลที่ 4 ทรงสร้างขึ้นตามแบบพระเจดีย์ศรีสุริโยทัย กรุงศรีอยุธยา นามว่า พระมหาเจดีย์ทรงพระศรีสุริโยทัย เพื่อถวายเป็นพุทธบูชา สมัยรัชกาลที่ 4 นั้นได้ทรงพระกรุณาโปรดเกล้าฯ ให้สร้างพระมหาเจดีย์ทรงพระศรีสุริโยทัยไว้ 1 องค์ แต่ยังไม่แล้วเสร็จ ครั้นใกล้จะเสด็จสวรรคตได้มีพระราชดำรัสเฉพาะกับรัชกาลที่ 5 ว่า "พระเจดีย์วัดพระเชตุพนฯ นั้นกลายเป็นใส่คะแนนพระเจ้าแผ่นดินไป ถ้าจะใส่คะแนนอยู่เสมอจะไม่มีที่สร้าง ควรจะถือว่าพระเจ้าแผ่นดินทั้งสี่พระองค์นั้นท่านได้เคยเห็นกันทั้งสี่ พระองค์จึงควรมีพระเจดีย์อยู่ด้วยกัน ต่อไปอย่าให้ต้องสร้างทุกแผ่นดินเลย" (พระราชวิจารณ์ในพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวรัชกาลที่ 5 เรื่อง จดหมายเหตุความทรงจำของกรมหลวงนรินทรเทวี)</p>
        <div class="container">
            <img src="{% static 'myapp/พระมหาเจดีย์.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">พระมหาเจดีย์ทั้งสี่องค์อยู่ในบริเวณกำแพงสีขาว</div>
            </div>
        </div>
    </div>
    <div class="text3">
        <p>พระระเบียง เป็นองค์ประกอบส่วนหนึ่งที่สร้างล้อมรอบพระอุโบสถ มีอยู่ 2 ชั้น ทั้งสองชั้นเชื่อมต่อด้วยพระวิหารทิศอยู่รอบพระอุโบสถทั้งสี่ทิศ เป็นที่ประดิษฐานของพระพุทธรูปสำคัญ และสร้างพระวิหารไว้ประจำสี่ทิศ</p>
        <p>พระระเบียงชั้นในประดิษฐานพระพุทธรูป  150 องค์ พระระเบียงชั้นนอกประดิษฐานพระพุทธรูป 244 องค์ เป็นพระพุทธรูปที่รัชกาลที่ 1 โปรดเกล้าฯ ให้อัญเชิญมาจากหัวเมืองฝ่ายเหนือ ปัจจุบันทางวัดได้บูรณปฏิสังขรณ์ลงรักปิดทอง พระพุทธรูปทุกองค์ล้วนแต่เป็นเนื้อสำริด มีพุทธลักษณะงดงามอร่ามตา เป็นพุทธศิลป์ในยุคสมัยต่างๆ เช่น สุโขทัย เชียงแสน ลพบุรี อู่ทอง และอยุธยา ตามเสาพระระเบียง รัชกาลที่ 3 โปรดเกล้าฯให้จารึกเพลงยาวกลอักษร เพลงยาวกลบท และตำราฉันท์ต่างๆอยู่ในกรอบศิลารวม 100 แผ่น</p>
        <p>สำหรับผู้ที่สนใจพุทธศิลป์เกี่ยวกับพระพุทธรูปที่พระระเบียงแล้ว เป็นส่วนที่เข้าไปเดินพินิจพุทธลักษณะ และศิลปะการสร้างสมัยต่างๆได้ เช่นเดียวกันกับผู้ที่สนใจ โคลง ฉันท์ กาพย์ กลอน อาจใช้เวลาไปเดินอ่านรอบพระระเบียงนี้ เมื่อได้ไปเดินอ่านและชมย่อมได้รับความรู้ทั้งด้านพุทธศิลป์และภาษาไทยชั้นยอดกว่าในตำราทีเดียว</p>
        <div class="container">
            <img src="{% static 'myapp/พระระเบียง.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">พระระเบียง เป็นองค์ประกอบส่วนหนึ่งที่สร้างล้อมรอบพระอุโบสถ</div>
            </div>
        </div>
    </div>
    <div class="text3">
        <p>เขามอ หรือสวนหย่อม เป็นสวนหินปลูกไม้ประดับที่รัชกาลที่ 3 โปรดเกล้าฯ ให้รื้อขนก้อนศิลาใหญ่ และเล็กซึ่งก่อเป็นภูเขาในสวนขวาในพระบรมมหาราชวัง แต่ครั้งรัชกาลที่ 2 มาก่อนเป็นภูเขาเป็นสวนประดับรอบวัด ปลูกต้นไม้ไว้ตามเชิงเขาและบนเขา มีทั้งสถูปและเสาโคมแบบจีน รูปตุ๊กตาจีนและรูปสัตว์จัตุบาท (สัตว์สี่เท้า) ต่างๆ เรียงรายอยู่ทั่วไปทั้งบนเขา และเชิงเขา เขามอมีทั้งหมด 24 ลูก เช่น เขาประดู่ เขาสะเดา เขาอโศก เขาสมอ เขาฤาษดัดตน เขาศิวลึงค์ เป็นต้น พรรณไม้ที่ปลูกประดับส่วนใหญ่ตายลงทางวัดได้ปรับปรุงเป็นสวนหิน ประดับด้วยไม้ดอกไม้ใบนับเป็นมุมนั่งพักผ่อนที่เพลิดเพลินตาเย็นกายสบายใจ</p>
        <p>เขาฤาษีดัดตน คือสวนสุขภาพแห่งหนึ่งอยู่ใกล้กับพระวิหารทิศ ใต้ เป็นพระราชประสงค์ของรัชกาลที่ 1 ที่ทรงพระกรุณาโปรดเกล้าฯ ให้รวบรวมการแพทย์แผนโบราณ และศิลปวิทยาการครั้งกรุงศรีอยุธยาไว้ ทรงพระราชดำริเอาท่าดัดตนอันเป็นการพักผ่อนอิริยาบถ แก้ปวดเมื่อยตามส่วนต่างๆ ของร่างกาย ประยุกต์รวมกับคติไทยที่ยกย่องฤาษีเป็นครู ผู้ประสิทธิ์ประสาทศิลปวิทยาการต่างๆ เป็นรูปปั้นฤาษีดัดตนท่าต่างๆ สมัยแรกสร้างนั้นปั้นด้วยดิน ต่อมาในสมัยรัชกาลที่ 3 หล่อเป็นเนื้อชินอยู่จนถึงปัจจุบันเดิมมีทั้งหมด 80 ท่า แต่ปัจจุบันคงเหลืออยู่ 24 ท่า</p>
        <p>รูปปั้นฤาษีดัดตน เป็นท่าตรงตามหลักโยคะ ของโยคีอินเดียเป็นการออกกำลังกายที่ใช้ศิลปะ เพื่อการมีสุขภาพที่แข็งแรง นอกจากนั้นยังมีโคลงสี่สุภาพ ซึ่งจารึกไว้ในแผ่นศิลาประดับอยู่ตามศาลาราย ปัจจุบันได้รวบรวมไว้ที่ศาลาราย เช่น ศาลาเปลื้องเครื่อง (โรงเรียนแพทย์แผนโบราณ) เป็นต้น โคลงภาพฤาษีดัดตน เป็นตำรากายภาพบำบัดของแพทย์ไทย แผนโบราณอันเป็นพระราชประสงค์ ขององค์พระพุทธบุรพมหากษัตริย์ที่ทรงพระราชดำริให้วัดนี้เป็นแหล่งรวมวิชาการ</p>
        <div class="container">
            <img src="{% static 'myapp/ฤาษี.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">เขามอ หรือสวนหย่อมมีการจัดวางรูปปั้นฤาษีดัดตน</div>
            </div>
        </div>
    </div>
    <div class="contact">
        <h3>ข้อมูลวัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร</h3>
        <ul>
            <li>ที่อยู่ : 2 ถนน สนามไชย แขวงพระบรมมหาราชวัง เขตพระนคร กรุงเทพมหานคร 10200</li>
            <li>พิกัด : https://maps.app.goo.gl/4ZCbC2bN1aQe2GpZ9</li>
            <li>เปิดให้เข้าชม : 08.00-18.30 น.</li>
            <li>ค่าเข้าชม : นักท่องเที่ยวชาวไทยไม่มีค่าเข้า นักท่องเที่ยวชาวต่างชาติค่าเข้าท่านละ 100 บาท</li>
        </ul>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/วิหาร.png'%}">
          <img src="{% static 'myapp/วิหาร.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระวิหารพระพุทธไสยาส</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/อุโบสถ1.png'%}">
          <img src="{% static 'myapp/อุโบสถ1.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระอุโบสถ</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เจดีย์.png'%}">
          <img src="{% static 'myapp/เจดีย์.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระมหาเจดีย์ทั้งสี่องค์</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/พระระเบียง1.png'%}">
          <img src="{% static 'myapp/พระระเบียง1.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระระเบียง</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ฤาษี1.png'%}">
          <img src="{% static 'myapp/ฤาษี1.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระระเบียง</div>
    </div>
    
</body>
้</html>