{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ฮาราจูกุ ไทยแลนด์</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="home">HOME</a></li>
                <li><a href="cpmixlink">BLOG</a></li>
                <li><a href="review">REVIEW</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/ฮาราจูกุปก.png'%}" alt="Grand Palace" class="blog1" style="height: 85vh;">
    <div class="back" style="height: 3000px;"></div>
    <div class="text1">
        <p>ฮาราจูกุ ไทยแลนด์ Harajuku Thailand สถานที่ท่องเที่ยวแห่งใหม่ในกรุงเทพ สไตล์ญี่ปุ่น นี้ ตั้งอยู่บนถนนสุวินทวงศ์ ค่ะ ซึ่งมีเนื้อที่กว่า 122 ไร่ โดยถูกเนรมิตให้เป็น หมู่บ้านญี่ปุ่นสุดคลาสสิค ที่เหมือนกับยุคเอโดะซึ่งเต็มไปด้วยบรรยากาศ และกลิ่นอายแบบญี่ปุ่นแท้ๆ</p>
         
    </div> 
    <div class="text2">
        <img src="{% static 'myapp/ฮาราจูกุ4.jpg'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -10px;">Harajuku Thailand ที่เที่ยวสไตล์ญี่ปุ่นแห่งใหม่ ตั้งอยู่บริเวณถนนสุวินทวงศ์ 
            ลองใครมีโอกาสไปเที่ยวจะตื่นตาไปกับพื้นที่กว้างใหญ่ที่ถูกเนรมิตให้กลายเป็นหมู่บ้านญี่ปุ่นสุดคลาสสิก 
            พร้อมต้อนรับผู้มาเยือนทุกคนได้เข้ามาเสพบรรยากาศและกลิ่นอายแบบญี่ปุ่นแท้   </p>
        <p >    หนึ่งในไฮไลต์ที่พลาดไม่ได้เลยของ Harajuku Thailand นั่นคือ บริเวณอาคารด้านหน้าที่ได้รับแรงบันดาลใจจากสถานีฮาราจูกุโบราณ 
            ซึ่งได้ถูกรื้อออกไปแล้วจากประเทศญี่ปุ่น แต่ทุกคนสามารถมาชมความงดงามได้ที่นี่ รวมถึงศาลเจ้าฮาราจูกุ ให้ได้สักการะขอพร 
            เขียนแผ่นป้ายอธิษฐานให้สมหวังดังตั้งใจและขอความรักให้เจอเนื้อคู่อีกด้วยนะ นอกจากนี้ยังมีกิจกรรมสนุก ๆ ทั้งสวนสนุกในร่มสำหรับเด็ก, 
            บริการเช่าชุดกิโมโน และลิ้มลองอาหารแสนอร่อย ทั้งหมดนี้รวมไว้ที่นี่ที่เดียว</p>
    </div>
</div>
    <div class="text3">
        <p>ด้านในของฮาราจูกุ ไทยแลนด์นั้น เต็มไปด้วยร้านค้า กว่า 100 ร้านค้า ไม่ว่าจะเป็น ร้านอาหาร ร้านเสื้อค้าแฟชั่น ของที่ระลึกต่างๆ 
            เรียกได้ว่าเป็นอีกหนึ่งแหล่งพักผ่อนหย่อนใจ มาเดินชิล ทานอาหารอร่อย รวมถึงให้บรรยากาศเป็นย่านช้อปปิ้งในเมืองเก่าอีกด้วย</p>
        <p style="margin-top: -10px;">สำหรับไฮไลท์ของที่นี่ก็คือ อาคารด้านหน้า ซึ่งได้รับแรงบันดาลใจจาก สถานีฮาราจูกุโบราณ ที่ได้ถูกรื้อออกไปแล้วจากประเทศญี่ปุ่นนั่นเอง 
            แต่เรายังสามารถมาชมความสวยงามได้ที่ ฮาราจูกุ ไทยแลนด์ ให้ความรู้สึกเหมือนกำลังเดินท่องเที่ยวอยู่ในประเทศญี่ปุ่น</p>
       
    </div>
    <div  class="text3">
            <div class="container">
            <img src="{% static 'myapp/ฮาราจูกุ1.jpg'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">อาคารด้านหน้า</div>
            </div>
        </div> 
        <p> อีกทั้งยังมีสถานที่สำคัญตั้งอยู่ด้านในก็คือ ศาลเจ้าฮาราจูกุ ให้ทุกคนได้สักการะขอพร รวมถึงเรายังสามารถเขียนแผ่นป้ายอธิฐานให้สมหวังดังตั้งใจ และ ขอพรความรัก 
            ให้เจอเนื้อคู่ อีกด้วย</p>
        <div class="container">
            <img src="{% static 'myapp/ฮาราจูกุ2.jpg'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ศาลเจ้าฮาราจูกุ</div>
            </div>
        </div> 
    </div>  
    <div class="text3">
        <p>นอกจากนี้ ที่นี่ยังเป็น ที่เที่ยวครอบครัว แห่งใหม่ ที่เหมาะกับการพาเด็กๆ มาเล่นสนุกอีกด้วย เพราะมี สวนสนุกในร่ม สำหรับน้องๆ หนูๆ ให้ได้ระเบิดพลัง เพลิดเพลิน และสามารถนำสัตว์เลี้ยงเข้าไปได้</p>
         <div class="container">
            <img src="{% static 'myapp/ฮาราจูกุ3.jpg'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
        </div>
    </div> 
    
    <div class="contact">
        <h3>ข้อมูล ฮาราจูกุ ไทยแลนด์</h3>
        <ul>
            <li>ที่อยู่ : สุวินทวงศ์ 110 แขวงกระทุ่มราย เขตหนองจอก กรุงเทพฯ</li>
            <li>พิกัด : https://goo.gl/maps/FmZ56iZKjnkDFANp7</li>
            <li>เปิดให้เข้าชม : วันจันทร์ - พฤหัสบดี 10.30-21.00 น. และ วันศุกร์ - อาทิตย์ 10.00-22.00 น.</li>
    
        </ul>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ฮาราจูกุ5.jpg'%}">
          <img src="{% static 'myapp/ฮาราจูกุ5.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ศาลเจ้าฮาราจูกุ</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ฮาราจูกุ6.jpg'%}">
          <img src="{% static 'myapp/ฮาราจูกุ6.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ศาลเจ้าฮาราจูกุ</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ฮาราจูกุ7.jpg'%}">
          <img src="{% static 'myapp/ฮาราจูกุ7.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ภาพวาดสตรีทอาร์ต</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ฮาราจูกุ8.jpg'%}">
          <img src="{% static 'myapp/ฮาราจูกุ8.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ภาพวาดสตรีทอาร์ต</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ฮาราจูกุ9.jpg'%}">
          <img src="{% static 'myapp/ฮาราจูกุ9.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ฮาราจูกุ</div>
    </div>
</body>