{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ย่านเยาวราช</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="home">HOME</a></li>
                <li><a href="cpmixlink">BLOG</a></li>
                <li><a href="review">REVIEW</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/เยาวราช.png'%}" alt="Grand Palace" class="blog1" style="height: 85vh;">
    <div class="back" style="height: 2800px;"></div>
    <div class="text1">
        <h3>ประวัติถนนเยาวราช</h3>
        <p style="margin-top: 5px ; text-indent: 50px;">ย่าน ‘เยาวราช’ หรือไชนาทาวน์ กรุงเทพฯ เป็นหนึ่งในไชนาทาวน์หรือชุมชนจีนนอกประเทศจีนที่ใหญ่ที่สุดแห่งหนึ่งของโลก ก่อตั้งขึ้นมาตั้งแต่ปี พ.ศ. 2325 พร้อมกับการสถาปนากรุงรัตนโกสินทร์ในสมัยรัชกาลที่ 1</p>
        <p style="margin-top: 5px ;text-indent: 50px;">โดยชาวจีนอพยพที่นี่ส่วนใหญ่จะเป็นชาวแต้จิ๋ว เดิมตั้งถิ่นฐานอยู่แถวพระบรมมหาราชวังเดิม เมื่อมีการสร้างพระบรมมหาราชวัง จึงให้ชาวจีนย้ายไปยังสำเพ็ง ก่อให้เกิดเป็นชุมชนจีนเกิดที่นี่ ต่อมาในสมัยรัชกาลที่ 5 มีการตัดถนนเยาวราชขึ้นในปี พ.ศ. 2435 จึงทำให้ถนนเยาวราชเป็นย่านหลักของชุมชนจีน</p>
        <p style="margin-top: 5px ;text-indent: 50px;">ถนนเยาวราช เป็นถนนสายหลักของชุมชนชาวเยาวราช ได้รับการขนานนามว่าเป็น “ถนนมังกร” โดยมีจุดเริ่มต้นของหัวมังกรที่ซุ้มประตูเฉลิมพระเกียรติ 72 พรรษาบริเวณวงเวียนโอเดียน ท้องมังกรอยู่ที่บริเวณตลาดเก่าเยาวราชและสิ้นสุดปลายหางมังกรที่บริเวณปลายสุดของถนน</p>
        <p style="margin-top: 5px ;text-indent: 50px;">โดยตั้งแต่ยุคอดีตย่านเยาวราชเป็นย่านการค้าของชุมชนชาวจีนที่ได้รับความนิยมมากจากทั้งคนไทยและคนจีนที่อาศัยอยู่ในกรุงเทพฯ เพราะมีสินค้าที่หลากหลาย และส่วนใหญ่เป็นสินค้าที่มากับเรือขนส่งจากจีน ซึ่งในทุกครั้งที่มีเรือขนส่งแวะมาจอดท่า ก็จะมีชาวจีนที่อพยพมาขึ้นเรือมาด้วย เพื่อมาหางานในประเทศไทย</p>
        <p style="margin-top: 5px ;text-indent: 50px;">แต่ละยุคแต่ละสมัย เยาวราชก็มีความเปลี่ยนแปลงไปตามกาลเวลา แต่สิ่งที่ยังไม่เปลี่ยน คือ ความเป็นย่านการค้าของคนจีนและคนไทยเชื้อสายจีน</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/เยาวราช1.jpg'%}" alt="เยาวราช">
        <p style="margin-top: -35px;text-indent: 50px;">ธุรกิจการค้าในย่านเยาวราช มีความหลากหลาย ทั้งธุรกิจการค้า, การเงิน การธนาคาร, ร้านทอง, ภัตตาคาร ร้านอาหาร, ร้านค้า, เทปและซีดีสวดมนต์, ของเล่นเด็ก, ชุดกี่เพ้า, โคมไฟและผ้าแดงมงคล, เครื่องประดับ, ปฏิทิน, อาหารแห้ง, ห้างทอง รวมไปถึงโรงแรมที่พักต่าง ๆ</p>
        <p style="text-indent: 50px;">โดยธุรกิจที่โดดเด่นที่สุดในย่านเยาวราช คือ ร้านขายทอง หรือนิยมเรียกกันว่า ห้างทอง ซึ่งมีตลอดแนวถนนเยาวราช จนทำให้เยาวราชได้ชื่อว่าเป็น “ถนนสายทองคำ” หลายร้านมีอายุเก่าแก่ เปิดตั้งแต่ยุคบุกเบิกจนถึงปัจจุบันก็มีปรับให้ทันสมัยมากขึ้น แต่บางร้านก็ล้มหายไป</p>
        <p style="text-indent: 50px;">ในอดีตย่านเยาวราชยังเป็นแหล่งรวบรวมความบันเทิงต่างๆ เช่น โรงภาพยนตร์และโรงงิ้วจำนวนมาก (ปัจจุบันได้เลิกกิจการไปหมดแล้ว) รวมถึง มีอาคาร 7 ชั้น ซึ่งเป็นอาคารที่สูงที่สุดของประเทศไทยในเวลานั้นด้วย สะท้อนให้เห็นภาพความรุ่งเรืองของพื้นที่แห่งนี้</p>
        
    </div>
    <div class="text3">
        <p style="margin-top: -30px;">โดยแม้ว่าวันเวลาที่เปลี่ยนแปลงจะทำให้เกิดศูนย์กลางการค้าแห่งใหม่ๆ แต่เยาวราชยังคงเป็นย่านการค้าชุมชนชาวจีนที่ไม่เสื่อมคลาย และยังคงเสน่ห์การค้าแบบดั้งเดิมไว้ได้พอสมควร สำหรับการอยู่อาศัย ที่ดินส่วนใหญ่ของย่านเยาวราชเป็นของสำนักงานทรัพย์สินส่วนพระมหากษัตริย์ เป็นการอยู่อาศัยแบบสิทธิการเช่าระยะยาว โดยในอดีตคนที่ค้าขายย่านนี้จะเปิดร้านด้านล่าง และใช้ชั้นบนในการอยู่อาศัย
            แต่ปัจจุบันคนที่เป็นคนดั้งเดิม แม้จะยังทำการค้าอยู่ แต่ส่วนใหญ่ไม่ได้อาศัยอยู่ชั้นบนของร้านแล้ว จะให้ลูกน้องอยู่อาศัยแทน ส่วนตัวเองจะขยับออกไปอยู่พื้นที่ใกล้เคียง หรือซื้อบ้านหลังใหญ่ หรือสร้างบ้านเองบริเวณชานเมืองกรุงเทพฯ
        </p>
    </div>
    <div class="text3">
        <h3>ย่านเยาวราชในปัจจุบัน</h3>
        <p>ปัจจุบันแม้ว่าจะมีนิวไชน่าทาวน์เกิดขึ้นที่ย่านห้วยขวาง และย่านเยาวราชจัดเป็นหนึ่งในพื้นที่ของเมืองเก่า แต่ย่านเยาวราชยังเป็นย่านการค้าสำคัญที่มีชีวิตชีวาตลอดวัน โดยช่วงกลางวันจะเป็นการค้าแบบดั้งเดิม</p>
        <p>ส่วนช่วงเย็นจนถึงค่ำคืน จะเป็นร้านอาหารในแบบสตรีทฟู้ด (Street Food) มีร้านอาหารริมข้างทางเรียงรายตลอดสองฝั่งถนน ซึ่งแต่ละร้านล้วนมีชื่อเสียงในเรื่องความอร่อย ไม่ว่าจะเป็น ก๋วยเตี๋ยวลูกชิ้นปลาและเย็นตาโฟ, ข้าวขาหมู, หมูสะเต๊ะ, หอยทอด, ผัดไทย, กวยจั๊บ, น้ำเต้าหู้, ห่านและเป็ดพะโล้, หูฉลามและกระเพาะปลา, รังนก, ข้าวหมูแดง, ข้าวราดแกงและอาหารตามสั่ง, ผลไม้, เกาลัดคั่ว, บ๊ะจ่าง, ติ่มซำ ฯลฯ</p>
        <div class="container">
            <img src="{% static 'myapp/เยาวราช7.jpg'%}" alt="" width="500px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ร้านเด็ดรอบเยาวราช</div>
            </div>
        </div>
        <p>ในระยะหลังย่านเยาวราชจึงมีความโดดเด่นในเรื่องอาหารการกินมาก จนได้รับการจัดอันดับจากสำนักข่าวซีเอ็นเอ็นให้เป็น “สวรรค์แห่งอาหารริมทาง” อีกทั้ง ยังมีภัตตาคารหรือร้านอาหารชื่อดังที่ได้รับความนิยมจากทั้งคนไทยและนักท่องเที่ยวชาวต่างชาติ บางร้านยังเป็นร้านที่ได้รับคัดเลือกให้อยู่ในหนังสือคู่มือมิชลินไกด์ หรือที่เรียกกันว่าได้ดาวมิชลิน อีกทั้ง ยังคงมีตลาดขายของแห้งสไตล์จีนที่เป็นที่นิยมและหายากในพื้นที่อื่น</p>
        <p>ความโดดเด่นในเรื่องสตรีทฟู้ด ทำให้ย่านเยาวราชดึงนักท่องเที่ยวจำนวนมหาศาลจากทั่วโลกให้มาเยือน และไม่เพียงแต่นักท่องเที่ยวต่างชาติเท่านั้น แต่ยังรวมถึง คนไทยก็นิยมมาลิ้มลองอาหารเมนูเด็ดที่ย่านเยาวราชด้วยเช่นกัน</p>
    </div>
    <div class="contact">
        <h3>ข้อมูลย่านเยาวราช</h3>
        <ul>
            <li>ที่อยู่ : ถนนเยาวราช สัมพันธวงศ์, สัมพันธวงศ์, กรุงเทพมหานคร</li>
            <li>พิกัด : https://maps.app.goo.gl/PYZTF2dgpTqEDgmj9</li>
            <li>เปิด : เปิดขายทุกวัน ตั้งแต่16.00น เป็นต้นไป (วันจันทร์ของน้อย)</li>
        </ul>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เยาวราช2.jpg'%}">
          <img src="{% static 'myapp/เยาวราช2.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ซุ้มประตูเฉลิมพระเกียรติ 6 รอบพระชนมพรรษา</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เยาวราช3.jpg'%}">
          <img src="{% static 'myapp/เยาวราช3.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">วัดกันมาตุยาราม</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เยาวราช4.jpg'%}">
          <img src="{% static 'myapp/เยาวราช4.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ศาลเจ้าแม่กวนอิม มูลนิธิเทียนฟ้า</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เยาวราช5.jpg'%}">
          <img src="{% static 'myapp/เยาวราช5.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พิพิธภัณฑ์วัดไตรมิตร ศูนย์ประวัติศาสตร์เยาวราช</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เยาวราช6.jpg'%}">
          <img src="{% static 'myapp/เยาวราช6.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ถนนเยาวราชยามค่ำคืน</div>
    </div>
</body>
</html>