{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>พระบรมมหาราชวังและวัดพระแก้ว</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/grand_palace1.png'%}" alt="Grand Palace" class="blog1">
 <div class="back"></div>
    <p class="text1">วัดพระแก้ว หรือ วัดพระศรีรัตนศาสดาราม เป็นวัดหลวงที่สำคัญในพระราชพิธีต่างๆ ที่สร้างขึ้นในพร้อมกับการสถาปนากรุงรัตนโกสินทร์ 
        ในปี พ.ศ.2325 สมัยรัชกาลที่ 1 โดยเป็นวัดในพระบรมมหาราชวังเช่นเดียวกับ วัดพระศรีสรรเพชญ์ ซึ่งเป็นวัดในพระราชวังหลวงใน
        สมัยกรุงศรีอยุธยาภายในวัดประดิษฐาน พระพุทธมหามณีรัตนปฏิมากร หรือ พระแก้วมรกต ที่อัญเชิญมาจากอาณาจักรล้านช้างเวียงจันทน์ 
        หรือ ประเทศลาวในอดีต </p>
   
    <div class="text2"> 
        <img src="{% static 'myapp/image1.jpg'%}" alt="วัดพระแก้ว">
        <h3>ประวัติวัดพระแก้ว</h3>
        <p> วัดพระแก้ว สร้างขึ้นพร้อมกับการสร้างพระบรมมหาราชวัง และการสถาปนากรุงเทพมหานครเป็นราชธานี ในสมัยพระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช 
        รัชกาลที่ 1 เมื่อปี พ.ศ. 2325 โดยเป็นสร้างตามประเพณีการสร้างพระอารามหลวงในเขตพระราชวังที่มีมาตั้งแต่อดีตก็คือวัดมหาธาตุในพระราชวังสมัยกรุงสุโขทัย 
        และวัดพระศรีสรรเพชญ์ในพระราชวังสมัยกรุงศรีอยุธยา นั่นเอง โดยจะเป็นวัดที่ไม่มีเขตสังฆาวาส ซึ่งเริ่มแรกภายในวัดมี พระเจดีย์ พระอุโบสถ พระวิหาร หอพระมณเฑียร 
        และหอไตร ต่อมาได้ การสร้างพระมณฑปขึ้นแทนหอพระมณเฑียรธรรมหลังเดิม และสร้างหอพระมณเฑียรธรรมขึ้นใหม่ และยังโปรดเกล้าฯ ให้สร้าง หอพระนาก และหอระฆัง
        </p> 
        <p class="t2">หลังจากนั้น ตั้งแต่รัชกาลที่ 3 จนถึง รัชกาลที่ 5 ก็ทรงปฏิสังขรณ์วัดพระแก้วเรื่อยมาเนื่องจากเป็นวัดสำคัญ จึงต้องมีการปฏิสังขรณ์ใหญ่ทุก 50 ปี มีการซ่อมแซม 
        และสร้างเพิ่มเติม เช่น ภาพจิตรกรรมฝาผนังในพระอุโบสถ เก๋งบอกพระปริยัติธรรม รูปยักษ์ 6 คู่ พระพุทธรูปฉลองพระองค์รัชกาลที่ 1 และรัชกาลที่ 2 หอพระคันธารราษฎร์ 
        มณฑปยอดปรางค์ พระบรมราชานุสาวรีย์รัชกาลกรุงรัตนโกสินทร์ ประจำรัชกาลที่ 1 รัชกาลที่ที่ 2 รัชกาลที่ที่ 3 รัชกาลที่ 4 และรัชกาลที่ 5 และหลังจากนั้นได้มีการบูรณปฏิสังขรณ์ 
        วัดพระแก้ว เรื่อยมา</p>
    </div>
    <div class="text3">
        <h3>สถานที่สำคัญที่น่าสนใจในวัดพระแก้ว</h3>
        <p>พระอุโบสถของวัดพระแก้ว มีกำแพงแก้วล้อมรอบ สร้างขึ้นในสมัยรัชกาลที่ 1 มีสถาปัตยกรรมที่งดงาม ประดับครุฑยุดนาคหล่อด้วยโลหะปิดทอง มีเสารายเทียนหล่อด้วยทองแดงล้อมรอบทั้งสี่ด้าน ผนังด้านในโดยรอบเขียนภาพจิตรกรรมฝาผนังต่างๆ เช่น เรื่องราวพุทธประวัติ ภาพทศชาติชาดก ภาพเทพชุมนุมตามแบบที่สืบเนื่องมาจากสมัยอยุธยา ภาพกระบวนพยุหยาตราสถลมารค กระบวนพยุหยาตราชลมารค และอื่นๆ
        ภายในประดิษฐานพระพุทธรูปสำคัญคือพระพุทธมหามณีรัตนปฏิมากร หรือ พระแก้วมรกต พระพุทธรูปพระพุทธยอดฟ้าจุฬาโลก และพระพุทธเลิศหล้านภาลัย พระพุทธรูปที่รัชกาลที่ 3 ทรงสร้างอุทิศให้กับรัชกาลที่ 1 และ 2 ทรงเครื่องต้นพระจักรพรรดิราช พระสัมพุทธพรรณี</p>
        <p>พระศรีรัตนเจดีย์ เจดีย์ทรงลังกา สร้างขึ้นในปี พ.ศ.2398 สมัยพระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัว ตามแบบพระมหาเจดีย์ ในวัดพระศรีสรรเพชญ์ เพื่อประดิษฐานพระบรมสารีริกธาตุที่ ทรงอัญเชิญจากลังกา องค์พระเจดีย์เป็นทรงกลมแบบลังกา มีลักษณะเหมือนระฆังคว่ำ ภายนอกปิดด้วยกระเบื้องโมเสกสีทองทั้งหมด ภายในบุด้วยหินอ่อน ลักษณะของทางเข้าเป็นรูปโค้งแหลม เหนือซุ้มเป็นลายปูนปั้นรูปช่อฟ้า ใบระกา หางหงส์ นาคสะดุ้ง ตอนบนของซุ้มตั้งพระเจดีย์องค์เล็กลักษณะเดียวกับพระศรีรัตนเจดีย์บนฐานสี่เหลี่ยม มีมุข 4 ด้านทำเป็นหน้าบันประดับช่อฟ้า ใบระกา หางหงส์ นาคสะดุ้ง บานประตูเป็นประตูหูช้างทำด้วยไม้ปิดทองประดับกระจกลงยา เป็นลายช่อดอกไม้สีเขียวแก่แดงเข้มและเงิน เหนือประตูเป็นช่องลมระบายอากาศกรุลวดตาข่าย กรอบประตูตอนบนจำหลักเป็นรูปพญานาค 2 ตัวหางชนกันตรงกลางห้อยเศียรลงด้านข้าง
        </p>
        <p>หอราชกรมานุสร และหอพงศานุสร ภายในประดิษฐาน พระพุทธรูปประจำรัชกาลต่างๆ ในสมัยอยุธยา และในสมัยรัตนโกสินทร์ มีลักษณะเป็นอาคารทรงไทย ภายในมีภาพจิตรกรรมของขรัวอินโขร่ง ซึ่งเป็นภาพพระราชพงศาวดารกรุงรัตนโกสินทร์ อีกทั้งที่นี่ยังเป็นสถานที่ในการถือน้ำพระพิพัฒน์สัจจา โดยจะตั้งเครื่องสักการบูชาพระพุทธรูป ในหอพระราชพงศานุสร</p>
        <p>ปราสาทพระเทพบิดร เป็นอาคารจัตุรมุขทรงไทย ยกยอดปราสาทเป็นทรงปรางค์ ภายในประดิษฐาน พระบรมรูปสมเด็จพระบูรพมหากษัตริยาธิราชเจ้า ในพระบรมราชจักรีวงศ์ทั้ง 5 พระองค์ (รัชกาลที่ 1-5) เดิมสร้างขึ้นในปี พ.ศ.2398 ในสมัยรัชกาลที่ 4 และเปลี่ยนเป็น ปราสาทพระเทพบิดร ในสมัยรัชกาลที่ 6 </p>
        <p>พิพิธภัณฑ์วัดพระศรีรัตนศาสดาราม สร้างขึ้นในสมัยรัชกาลที่ 4 โดยแต่เดิมที่นี่เป็นโรงกษาปณ์ใช้ผลิตเงินตราเพื่อใช้ในประเทศ ต่อมาในปี พ.ศ. 2525 ในวาระการสมโภชกรุงรัตนโกสินทร์ 200 ปี มีการบูรณปฏิสังขรณ์วัดพระแก้ว ได้มีการเปลี่ยนแปลงโรงกษาปณ์แห่งนี้มาเป็นพิพิธภัณฑ์ โดยภายในรวบรวมวัตถุสำคัญต่างๆ เช่น พระแท่นที่ประทับของพ่อขุนรามคำแหงมหาราช รูปพระราชพิธีอินทราภิเษก พระแท่นมนังคศิลาบาตร เป็นต้น</p>
        <p>นอกจากนี้ ภายในวัดพระแก้ว ยังมีศาสนสถาน รวมถึงกลุ่มอาคารต่างๆ ที่มีความสำคัญ สถาปัตยกรรมที่งดงาม และน่าสนใจมากมาย เรียกได้ว่า เป็นสมบัติชาติที่ทรงคุณค่า และยังเป็นแหล่งรวบรวมเรื่องราวทางประวัติศาสตร์ของกรุงรัตนโกสินทร์</p>
    </div>
    <div class="contact">
        <h3>ข้อมูล วัดพระแก้ว กรุงเทพ</h3>
        <ul>
            <li>ที่อยู่ : ถนนหน้าพระลาน แขวงพระบรมมหาราชวัง เขตพระนคร กรุงเทพฯ</li>
            <li>พิกัด : https://goo.gl/maps/PPNJHNWRpdtsP8Jd7</li>
            <li>เปิดให้เข้าชม : 08.30-15.30 น.</li>
            <li>ค่าเข้าชม : คนไทย เข้าชมโดยไม่มีค่าใช้จ่าย ชาวต่างชาติ ค่าเข้าชม บัตรราคา 500 บาท
                <br>สามารถซื้อบัตรเข้าชมพระบรมมหาราชวังและวัดพระศรีรัตนศาสดาราม ผ่านช่องทางออนไลน์ล่วงหน้าได้อย่างน้อย 24 ชั่วโมงก่อนวันเข้าชม</li>
        </ul>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/large-57a83858a0c53.jpg'%}">
          <img src="{% static 'myapp/large-57a83858a0c53.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระอุโบสถของวัดพระแก้ว</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ลังกา.webp'%}">
          <img src="{% static 'myapp/ลังกา.webp'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พระศรีรัตนเจดีย์</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/หอ.jpg'%}">
          <img src="{% static 'myapp/หอ.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">หอราชกรมานุสร และหอพงศานุสร</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/ปราสาท.jpg'%}">
          <img src="{% static 'myapp/ปราสาท.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ปราสาทพระเทพบิดร</div>
    </div>
    <div class="gallery" >
        <a target="_blank" href="{% static 'myapp/พิพิธภัณฑ์.webp'%}">
          <img src="{% static 'myapp/พิพิธภัณฑ์.webp'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">พิพิธภัณฑ์วัดพระศรีรัตนศาสดาราม</div>
    </div>

</body>
</html>