{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แม่น้ำเจ้าพระยา</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <img src="{% static 'myapp/เจ้าพระยาปก.png'%}" alt="Grand Palace" class="blog1" style="height: 85vh;">
    <div class="back" style="height: 3750px;"></div>

    <div class="text1">
        <h3>แม่น้ำเจ้าพระยา </h3>
        <p style="margin-top: 3px ;">กรุงเทพ ได้รับฉายาในอดีตว่าเป็น “เวนิสแห่งตะวันออก” ด้วยเครือข่ายของคลองที่ไหลผ่านเมือง
            คลองเหล่านี้ได้รับการหล่อเลี้ยงโดยแม่น้ำเจ้าพระยาซึ่งมอบชีวิตให้แก่ กรุงเทพ มานานหลายชั่วอายุคน
            แม้ว่าแม่น้ำจะไม่ได้มีความสำคัญอย่างยิ่งต่อการเดินทางไปไหนมาไหนอีกต่อไปใน กรุงเทพ แต่พื้นที่
            ริมแม่น้ำเจ้าพระยา ก็ยังคงเป็นส่วนสำคัญของเมือง
            หากต้องการนั่งผ่อนคลายก็สามารถทำได้ที่ริมแม่น้ำเจ้าพระยา หรือจะล่องเรือชมแม่น้ำเจ้าพระยาก็ผ่อนคลายไม่แพ้กัน
            แถมยังชมวิวแลนด์มาร์กชื่อดังของ กรุงเทพ ได้จากบนเรืออีกด้วย
            </p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/แม่น้ำเจ้าพระยา1.jpg'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -35px;">แม่น้ำเจ้าพระยา เป็นแม่น้ำสายสำคัญของประเทศไทย เกิดจากการรวมตัวของแม่น้ำสาขาหลัก 2 
            สายจากภาคเหนือ คือ แม่น้ำปิงและแม่น้ำน่าน โดยมาบรรจบกันที่ปากน้ำโพ อำเภอเมืองนครสวรรค์ จังหวัดนครสวรรค์ 
            โดยจะเห็นความแตกต่างของสายน้ำทั้งสองได้อย่างชัดเจน กล่าวคือ แม่น้ำน่านมีสีค่อนข้างแดง ส่วนแม่น้ำปิงมีสีค่อนข้างเขียว 
            เมื่อมาบรรจบกันแล้วจึงค่อย ๆ รวมตัวเข้าด้วยกันกลายเป็นแม่น้ำสายใหญ่[1] จากนั้นไหลลงไปทางทิศใต้ ผ่านจังหวัดอุทัยธานี ชัยนาท 
            สิงห์บุรี อ่างทอง พระนครศรีอยุธยา ปทุมธานี นนทบุรี และกรุงเทพมหานคร ก่อนออกสู่อ่าวไทยที่ปากน้ำในอำเภอเมืองสมุทรปราการและอำเภอพระสมุทรเจดีย์ 
            จังหวัดสมุทรปราการ
            </p>
        <p>จุดเริ่มของแม่น้ำเจ้าพระยาอยู่ที่บริเวณปากน้ำโพ อำเภอเมืองนครสวรรค์ จังหวัดนครสวรรค์ โดยการรวมของแม่น้ำปิงและแม่น้ำน่าน แม่น้ำทั้งสองรับน้ำมาจากทิวเขาถนนธงชัยและทิวเขาผีปันน้ำ 
            ที่ราบลุ่มแม่น้ำเจ้าพระยามีพื้นที่ 20,125 ตารางกิโลเมตร (ไม่รวมลุ่มน้ำปิง วัง ยม น่าน สะแกกรัง ป่าสัก และท่าจีน) และมีความยาวถึง 372 กิโลเมตร โดยแยกออกเป็นแม่น้ำท่าจีน (คลองมะขามเฒ่า) ที่จังหวัดชัยนาท</p>
    </div>
    <div class="text3">
        <h3>ที่เที่ยวติดแม่น้ำเจ้าพระยาในกรุงเทพ</h3>
        <p>ที่เที่ยวติดแม่น้ำเจ้าพระยาในกรุงเทพ ถ่ายรูปสวยๆ เดินชิลเพลินๆกันไป ชมบรรยากาศดีๆริมแม่น้ำเจ้าพระยามีหลายสถานที่ด้วยกัน</p>
        <p>ล้ง 1919</p>
        <p style="margin-top: -10px;"> ล้ง 1919 ที่เที่ยว กรุงเทพ ฝั่งธนฯ ตั้งอยู่ริมแม่น้ำเจ้าพระยาฝั่งตรงข้ามกับ ตลาดน้อย นั่นเองค่ะ นับได้ว่าเป็นที่เที่ยวแนว Heritage อีกแห่งที่น่าสนใจมากๆ ด้วยการพลิกฟื้นอดีตท่าเรือ “ฮวย จุ่ง ล้ง” 
            ท่าเรือกลไฟริมแม่น้ำเจ้าพระยาที่มีบทบาทสำคัญของสยาม ในสมัยรัชกาลที่ 4 ให้กลับมามาชีวิตอีกครั้ง และเป็นแหล่งท่องเที่ยวที่ทำให้คนรุ่นใหม่ได้เข้าใจถึงเรื่องราวประวัติศาสตร์ไทย-จีน อีกด้วย</p>
       
    </div>
    <div class="text3">
        <div class="container">
            <img src="{% static 'myapp/เจ้าพระยาล้ง.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ล้ง 1919</div>
            </div>
        </div> 
        
    </div>  
   
    <div class="text3">
        <p>ท่ามหาราช</p>
        <p style="margin-top: -10px;">   “ความชิล ความฮิปสเตอร์ ความอาร์ท ความสบาย ความริมน้ำ” หลายคนที่กำลังมองหาโลเคชั่นดีๆ สำหรับพักผ่อนสบายๆ 
            วันเสาร์-อาทิตย์ หรือวันอยากจะหยุดคิดอะไรบางอย่าง ชวนมาเดิน กิน เที่ยว ริมน้ำกันที่ ท่ามหาราช คอมมูนิตี้ มอลล์</p>
         <p style="margin-top: -10px;">     จากคอนเซ็ปต์ “Riverside Eatery, Urban Oasis, Art & Culture Market” ทำให้เกิดที่นั่งสบายๆ ที่ทาามหาราช 
            คอมมูนิตี้ มอลล์ แห่งนี้ขึ้นใจกลางเมืองริมน้ำเจ้าพระยาค่ะ ที่นี่จึงกลายเป็นศูนย์รวมของมุมกาแฟ ร้านแฟชั่น 
            ร้านอาหารอร่อยหลากหลายที่ตอบโจทย์ไลฟ์สไตล์คนเมืองอย่างสุดๆ</p>
    </div>
    <div class="text3">
        <div class="container">
            <img src="{% static 'myapp/เจ้าพระยาท่ามหาราช.jpg'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">ท่ามหาราช</div>
            </div>
        </div> 
        
    </div>  

    <div class="text3">
        <p>สวนสันติชัยปราการ</p>
        <p style="margin-top: -10px;">      สวนสันติชัยปราการ เป็นสวนสาธารณะริมแม่น้ำเจ้าพระยา จุดเด่นของที่นี่คือ สามารถมองเห็นวิวสะพานพระราม 8 ได้อย่างชัดเจน 
            ภายในสวยยังมีพระที่นั่งสันติชัยปราการ ศาลาไทยทรงสวย สร้างด้วยไม้ตะเคียนในแบบสถาปัตยกรรมไทยดั้งเดิม ตกแต่งลวดลายแกะสลักสวยงาม</p>
         <p style="margin-top: -10px;">     บรรยากาศภายในสวนสันติชัยปราการมีความร่มรื่นด้วยต้นไม้ อีกทั้งช่วงเย็นยังสามารถมาชมแสงอาทิตย์ตกริมแม่น้ำเจ้าพระยา
             เหมาะอย่างมากสำหรับการมานั่งพักผ่อน อ่านหนังสือ ชมพระอาทิตย์ตก รับลมเย็นๆ</p>
       
    </div>
    <div class="text3">
        <div class="container">
            <img src="{% static 'myapp/เจ้าพระยาสวน.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 400px;" class="image">
            <div class="overlay">
              <div class="textim">สวนสันติชัยปราการ</div>
            </div>
        </div> 
        <p style="margin-top: 20px;">     นอกจากสถานที่ที่กล่าวมานี้ยังมีอีกหลายสถานที่ที่น่าไปเยี่ยมชมที่ติดแม่น้ำเจ้าพระยา</p>
      
        
    </div>  

    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เจ้าพระยาตลาดวังหลัง.jpg'%}">
          <img src="{% static 'myapp/เจ้าพระยาตลาดวังหลัง.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ตลาดวังหลัง</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เจ้าพระยายอดพิมาน.jpg'%}">
          <img src="{% static 'myapp/เจ้าพระยายอดพิมาน.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ยอดพิมาน ริเวอร์ วอล์ค</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เจ้าพระยาวัดอรุณ.png'%}">
          <img src="{% static 'myapp/เจ้าพระยาวัดอรุณ.png'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">วัดอรุณราชวรารามราชวรมหาวิหาร</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เจ้าพระยาตลาดน้อย.jpg'%}">
          <img src="{% static 'myapp/เจ้าพระยาตลาดน้อย.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">ตลาดน้อย</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="{% static 'myapp/เจ้าพระยาคลองสาม.jpg'%}">
          <img src="{% static 'myapp/เจ้าพระยาคลองสาม.jpg'%}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">คลองสาน พลาซ่า</div>
    </div>
</body>