{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>พระบรมมหาราชวังและวัดพระแก้ว</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>
<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <div class="text1">
        <h3>ประวัติวัดโพธิ์</h3>
        <p style="margin-top: 3px ;">วัดโพธิ์ หรือ วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร เป็นพระอารามหลวงชั้นเอก และเป็นวัดประจำรัชกาลที่ 1
            พระอารามหลวงแห่งนี้ มีเนื้อที่ 51 ไร่ 2 งาน 98 ตารางวาอยู่ด้านทิศใต้ของพระบรมมหาราชวัง ทิศเหนือจดถนนท้ายวัง ทิศตะวันออกจดถนนสนามไชย ทิศใต้จดถนนเศรษฐการ ทิศตะวันตกจดถนนมหาราช มีถนนเชตุพนขนาบด้วยกำแพงสูงสีขาวแบ่งเขตพุทธาวาสและสังฆาวาสชัดเจนมีหลักฐานปรากฏในศิลาจารึกไว้ว่า หลังจากที่พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช ทรงสถาปนาพระบรมมหาราชวังแล้วทรงพระราชดำริว่า มีวัดเก่าขนาบพระบรมมหาราชวัง 2 วัด ด้านเหนือ คือวัดสลัก (วัดมหาธาตุ) ด้านใต้ คือ วัดโพธาราม จึงทรงพระกรุณาโปรดเกล้าฯ ให้ขุนนางเจ้าทรงกรม ช่างสิบหมู่อำนวยการบูรณปฏิสังขรณ์ เริ่มเมื่อพ.ศ. 2331 เสด็จวัดโพธาราม มีสภาพทรุดโทรม ต่อมาจึงโปรดเกล้าฯ ให้สถาปนาพระอุโบสถอันดับแรก ใช้เวลา 7 ปี 5 เดือน 28 วัน จึงแล้วเสร็จ และโปรดเกล้าฯ ให้มีการฉลองเมื่อ พ.ศ. 2344 พระราชทานนามใหม่ว่า“วัดพระเชตุพนวิมลมังคลาวาศ” ต่อมารัชกาลที่ 4 ได้โปรดเกล้าฯ ให้เปลี่ยน ท้ายนามวัดเป็น “วัดพระเชตุพนวิมลมังคลาราม”</p>
    </div>
    <div class="text2">
        <img src="{% static 'myapp/po1.png'%}" alt="วัดพระแก้ว">
        <p style="margin-top: -35px;">เกร็ดประวัติศาสตร์ของการสถาปนาและการบูรณปฏิสังขรณ์วัดโพธิ์แห่งนี้ บันทึกไว้ว่า รัชกาลที่ 1 และที่ 3 ขุนนางเจ้าทรงกรม ช่างสิบหมู่ได้ระดมช่างในราชสำนัก ช่างวังหลวง ช่างวังหน้า และช่างพระสงฆ์ที่อยู่ในวัดต่างๆ ผู้เชี่ยวชาญงานศิลปกรรมสาขาต่างๆ ได้ทุ่มเทผลงานสร้างสรรค์พุทธสถานและสรรพสิ่งที่ประดับอยู่ในพระอารามหลวงด้วยพลังศรัทธาตาม</p>
        <p>พระราชประสงค์ของพระองค์ท่านที่ให้เป็นแหล่งรวมสรรพศิลป์ สรรพศาสตร์เปรียบเป็นมหาวิทยาลัยแห่งสรรพวิชาไทย (มหาวิทยาลัยเปิดแห่งแรก) ที่รวมเอาภูมิปัญญาไทยไว้เป็นมรดกให้ลูกหลานไทยได้เรียนรู้กันอย่างไม่รู้จบสิ้น จักรพันธุ์ โปษยกฤต จิตรกรชื่อดังของไทย กล่าวไว้ในหนังสือ “โบสถ์วัดโพธิ์” เมื่อ 10 ตุลาคม 2542 ว่า “ศิลปศาสตร์ในวัดโพธิ์ จึงเสมือนโอฆะแห่งวิชา ที่สามารถตักตวงได้ยังประโยชน์แก่กุลบุตรกุลธิดาให้อุดมสมบูรณ์อลังการด้วยปัญญาอยู่มิรู้เหือดแห้ง”</p>
    </div>
    <div class="text3">
        <h3>สถาปัตย์ที่สำคัญ</h3>
        <p>พระวิหารพระพุทธไสยาส หรือวิหารพระนอนตั้งอยู่ทางทิศตะวันตกเฉียงเหนือในเขตพุทธาวาส วัดพระเชตุพนวิมลมังคลาราม พระบาทสมเด็จพระนั่งเกล้าเจ้าอยู่หัวโปรดให้สร้างพระพุทธไสยาส ขึ้นคราวบูรณปฏิสังขรณ์วัดพระเชตุพนครั้งใหญ่เมื่อ พ.ศ.๒๓๗๕ นอกจากพระวิหารจะเป็นที่ประดิษฐานพระพุทธไสยาสแล้ว ยังมีจิตรกรรมฝาผนังที่บันทึกสรรพวิชารายล้อมรอบตัวพระวิหารตามแบบไทยประเพณี</p>
        <p>จิตรกรรมในพระวิหารพระพุทธไสยาสมีสรรพวิชาความรู้ดังต่อไปนี้</p>
        <p style="margin-top: -10px;">1. ผนังระหว่างช่องหน้าต่างและประตู ที่เรียกว่า "ห้อง" มี 32 ห้องเขียนภาพเรื่อง เอตทัคคะในพระพุทธศาสนาต่อจากเรื่องที่เขียนในพระอุโบสถตามจารึกที่ติดบอกไว้ (แต่มีหลุดหายไปบ้าง) </p>
        <p style="margin-top: -10px;">2. ผนังเหนือบานประตูและหน้าต่าง เขียนเรื่องมหาวงศ์ พงศาวดารลังกาทวีป คือประวัติราชวงศ์ และพระพุทธศาสนาในลังกา ตั้งแต่ต้นเรื่องกำเนิดพระเจ้าสีหพาหุ จนถึงพระเจ้าอภัยทุฏฐคามินีรบชนะทมิฬได้ครอบกรุงอนุราธปุระ</p>
        <p style="margin-top: -10px;">3. คอสอง เขียนเรื่องสวรรค์ชั้นดาวดึงส์ และการรบระหว่างเทวดาและ อสูร เรียกว่า เทวาสุรสงคราม</p>
        <p style="margin-top: -10px;">4. บานประตู ด้านนอกเขียนลายรดน้ำลายผูกอาวุธ เป็นภาพเครื่องศัตราวุธโบราณ ด้านในสีน้ำมันพื้นสีแดงเป็นรูปพระยานาคราช</p>
        <p style="margin-top: -10px;">5. บานหน้าต่าง ด้านนอกเขียนลายรดน้ำ เป็นภาพเครื่องศัสตราวุธโบราณ ด้านในเขียนภาพสีน้ำมันลายดอกพุดตานก้านแย่ง</p>
        <p style="margin-top: -10px;">6. พื้นที่ส่วนบนและส่วนล่างของบานประตูและบานหน้าต่างด้านนอก เป็นภาพเบ็ดเตล็ต ตอนบนส่วนหนึ่งเป็นภาพตำราดาว คือ กลุ่มดาวนักษัตรประจำเดือนทางสุริยคติ ภาพนิทานชาดกและวรรณคดีไทย เช่นเดียวกับตอนล่าง </p>
    </div>
    <div class="text3">
        <img src="{% static 'myapp/po2.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 450px;">
        <p>พระอุโบสถ ตามคติความเชื่อของพุทธศาสนิกชน เขตวิสุงคามสีมา หรือพระอุโบสถ เป็นพุทธศาสนสถานที่สำคัญที่สุด โดยสร้างสมัยรัชกาลที่ 1 ตามแบบศิลปะอยุธยาตอนปลาย และขยายใหญ่ขึ้นเท่าที่เห็นในสมัยรัชกาลที่ 3 ซุ้มจรณัมประจำประตูหน้าต่างฉลัก (สลัก) ด้วย ไม้แก่น ยอดเป็นทรงมงกุฎลงรักปิดทอง ประดับกระจก บานประตูพระอุโบสถ ด้านนอกลายประดับมุก เป็นลายภาพเรื่อง รามเกียรติ์ ด้านในเขียนลายรดน้ำรูปพัดยศพระราชาคณะ พระครูสัญญาบัตร ฐานานุกรมเปรียญทั้งฝ่ายคามวาสีและอรัญวาสีในกรุงและหัวเมือง
            พระประธาน เป็นพระพุทธรูปปางสมาธิ นามว่า พระพุทธเทวปฏิมากร ที่ฐานชุกชีก่อไว้ 3 ชั้น ชั้นที่ 1 บรรจุพระบรมอัฐิและพระราชสรีรังคารรัชกาลที่ 1 ไว้ ชั้นที่ 2 ประดิษฐานรูปพระอัครสาวกทั้งสององค์ฐานชุกชี ชั้นล่างสุดประดิษฐาน พระมหาสาวก 8 องค์ (พระอรหันต์ 8 ทิศ)
            จิตรกรรมประดับผนังพระอุโบสถเหนือต่างขึ้นไปเขียนเรื่องมโหสถบัณฑิต (มหาบัณฑิตแห่งมิถิลานคร) คอสองในประธานทั้งสองข้างเขียนเรื่องเมืองสวรรค์ชั้นจาตุมหาราช ผนังประตูหน้าต่างเขียนเรื่องพระสาวกเอตทัคคะ 41 องค์บานหน้าต่างด้านในเขียนลายรดน้ำเป็นรูปตราประจำตำแหน่งเจ้าคณะสงฆ์ใน กรุงและหัวเมือง สมัยรัชกาลที่ 3 ด้านนอกแกะสลักเป็นลายแก้วชิงดวง</p>
        <img src="{% static 'myapp/อุโบสถ.png'%}" alt="" width="600px" style="position: relative; top: -250px; left: 450px;">
    </div>
</body>