{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รวม 10 ที่เที่ยวสุดฮิตในกรุงเทพ</title>
    <link rel="stylesheet" href="{% static 'myapp/propoty.css'%}">
</head>

<body>
    <div class="container">
        <div class="main-content">
            <h3>หน้าเเนะนำเมนูท่องเที่ยว</h3>
            <img src="" alt="">
            <p>
                <div class="link">
                    <a href="blog"><img src="{% static 'myapp/picture011.jpg'%}" alt=""></a>
                    <a href="blog2"><img src="{% static 'myapp/picture02.jpg'%}" alt=""></a>    
                    <a href="blog4"><img src="{% static 'myapp/picture0333.jpg'%}" alt=""></a>
                    <a href="blog5"><img src="{% static 'myapp/picture04.jpg'%}" alt=""></a>
                    <a href="blog6"><img src="{% static 'myapp/picture05.jpg'%}" alt=""></a>
                    <a href="blog7"><img src="{% static 'myapp/picture06.jpg'%}" alt=""></a>
                    <a href="blog8"><img src="{% static 'myapp/picture07.jpg'%}" alt=""></a>
                    <a href="blog10"><img src="{% static 'myapp/picture08.jpg'%}" alt=""></a>
                    <a href=""><img src="New folder (6)/picture0999.jpg" alt=""></a>
                    <a href="blog3"><img src="{% static 'myapp/picture10.jpg'%}" alt=""></a>
                </div>
            </p>
        </div>
        
        
            
        </div>
        <footer>
            <div class="col-l">
                <h5>งานเว็บก่อนกลางภาค</h5>
                <h5>โดยเบ็น ดิว น้ำ เเอม</h5>
            </div>
            <div class="col-r">
                <h3>มหาวิทยาลัยศิลปากรสนามจันทร์</h3>
                <h3>silpakorn university</h3>
            </div>
        </footer>
    </div>
</body>

</html>