{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รวม 10 ที่เที่ยวสุดฮิตในกรุงเทพ</title>
    <link rel="stylesheet" href="{% static 'myapp/propoty.css'%}">
    <link rel="stylesheet" href="{% static 'myapp/web.css'%}">
</head>

<body>
    <header>
        <a href="#" class="logo">logo</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="home">HOME</a></li>
                <li><a href="cpmixlink">BLOG</a></li>
                <li><a href="review">REVIEW</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="main-content">
            <img src="" alt="">
            <p>
                <div class="link">
                    <a href="blog"><img src="{% static 'myapp/picture011.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog2"><img src="{% static 'myapp/picture02.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>    
                    <a href="blog4"><img src="{% static 'myapp/picture0333.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog5"><img src="{% static 'myapp/picture04.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog6"><img src="{% static 'myapp/picture05.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog7"><img src="{% static 'myapp/picture06.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog8"><img src="{% static 'myapp/picture07.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog10"><img src="{% static 'myapp/picture08.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog9"><img src="{% static 'myapp/ฮาราจุกุ.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                    <a href="blog3"><img src="{% static 'myapp/picture10.jpg'%}" alt="" style="width: 450px;height: 300px;"></a>
                </div>
            </p>
        </div>
        
        
            
        </div>
        
    </div>
</body>

</html>